<div class="sign recovery">
        <div class="bac-logo">
            <div class="sign-narrow">
                <div class="sign-container">
                        <a href="" class="sign-logo"></a>
                        <div class="text-box">
                                <span class="title">Password recovery!</span>
                                <span class="text">Set a new password.</span>
                            </div>
                        <form [formGroup]="recoveryPassForm" (ngSubmit)="submitRecoveryPassForm(recoveryPassForm)">
                            <div class="sign-container-input border-top error"[ngClass]="{
                                'error-open' : (recoveryPassForm.controls.password.hasError('required')&& recoveryPassForm.controls.password.touched) || ( recoveryPassForm.controls.password.hasError('easy') && recoveryPassForm.controls.password.touched)
                            }">
                                <span>Password</span>
                                <input class="sign-place" type="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" formControlName="password" (keyup)="checkPassword()" required>
                                <div class="error-text" [ngClass]="{
                                    'error-text-open' : recoveryPassForm.controls.password.hasError('required') && recoveryPassForm.controls.password.touched
                                }" 
                                >Сan't be empty!</div>
                                <div class="error-text" [ngClass]="{
                                    'error-text-open' : recoveryPassForm.controls.password.hasError('easy') && recoveryPassForm.controls.password.touched 
                                }">{{ passwordErrorText }}</div>

                            </div>
                            <div class="sign-container-input error " [ngClass]="{
                                'error-open' : (recoveryPassForm.controls.confirmPassword.hasError('required')&& recoveryPassForm.controls.confirmPassword.touched) || (recoveryPassForm.controls.confirmPassword.hasError('doNotMatch') && recoveryPassForm.controls.confirmPassword.touched)
                            }">
                                    <span>Again</span>
                                    <input class="sign-place" type="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" formControlName="confirmPassword" required>
                                    <div class="error-text" [ngClass]="{
                                        'error-text-open' : recoveryPassForm.controls.confirmPassword.hasError('required') && recoveryPassForm.controls.confirmPassword.touched
                                    }" 
                                    >Сan't be empty!</div>
                                    <div class="error-text" [ngClass]="{
                                        'error-text-open' : recoveryPassForm.controls.confirmPassword.hasError('doNotMatch') && recoveryPassForm.controls.confirmPassword.touched
                                    }" 
                                    >Passwords do not match!</div>
                                    
                                </div>
                            <button class="main-btn main-btn-hov save-btn" type="submit">SAVE</button>
                            <div class="showPassMessage" [ngClass]="{
                                'showPassMessage-open': showPassMessage
                            }">
                                <span class="showPassMessageText">{{ showPassMessageText }}</span>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>