<div class="profile-narrow login-history section" [ngClass]="{ 'visible': isVisible, 'hidden': !isVisible }">
  <div class="profile-title">
    <h2 class="fl-row">Activity</h2>
  </div>
  <div>
    <div class="login-history-table">
      <div class="login-history-table-title">
        <span>Time</span>
        <span>IP</span>
        <span>Agent</span>
        <span>Activity</span>
      </div>
      <div class="login-history-item" *ngFor ="let userViewSession of userViewSessions">
        <span class="col1">{{ userViewSession.time | date: 'dd/MM/yy' }} — {{ userViewSession.time | date: 'hh:mm' }}</span>
        <span class="col2">{{ userViewSession.ipAddress }}</span>
        <span class="col3">{{ userViewSession.userAgent }}</span>
        <span class="col4" *ngIf="userViewSession.type == 0">Log in</span>
      </div>
      
     
    </div>
    <div class="navigate-buttons" *ngIf="pagesNumber > 1">
      <button class="page-nav mr-24" (click)="prevPage()">Prev</button>
      <button class="page-numb active mr-14" *ngFor="let page of pages" (click)="changePage(page)">{{ page }}</button>
      <button class="page-nav" (click)="nextPage()">Next</button>
    </div>
  </div>
</div>

