.fl-row {
  display: flex;
  flex-direction: row;
}

.double-btns {
  margin-left: 38px;
}

.navigate-buttons {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-top: 30px;

  .page-nav {
    background: transparent;
  }

  .page-numb {
    width: 27px;
    height: 27px;
    box-sizing: border-box;
    border-radius: 3px;
    background: transparent;
  }

  .mr-14 {
    margin-right: 14px;
  }

  .mr-24 {
    margin-right: 24px;
  }

}

.login-history-item span {
  font-size: 16px;
  font-weight: 300;
}

.confirmation {
  position: relative;
  padding-left: 21px;
  box-sizing: border-box;

  div {
    position: absolute;
    top: 3px;
    left: 0;
  }
}



.canceled {


  .confirmation {
    div {
      margin-right: 10.36px;
      width: 12.64px;
      height: 12.64px;
    }
  }
}

.complete {
  
  .confirmation {
    div {
      margin-right: 9px;
      width: 14px;
      height: 10.45px;
    }
  }


}

.expectation {


  .confirmation {
    div {
      margin-right: 9px;
      width: 16.55px;
      height: 20px;
      top: -1px;
    }
  }

}

@media screen and (max-width: 600px) {

  .login-history-item:last-child {
    border-bottom: none;
  }

  .login-history-item span {
    box-sizing: border-box;
    padding-left: 50px;
    position: relative;
  }

  .col1:before {
    content: 'Time';
  }

  .col2:before {
    content: 'IP';
  }

  .col3:before {
    content: 'Agent';
  }

  .col4:before {
    content: 'Activity';
  }

  .col5:before {
    content: 'Coin';
  }

  .col6:before {
    content: 'Date';
  }

  .col7:before {
    content: 'Confirmations';
  }

  .col8:before {
    content: 'Amount';
  }

  .history-table {
    .login-history-item span {
      box-sizing: border-box;
      padding-left: 95px;
      position: relative;
    }

    .col5 span {
      padding-left: 0;
      margin-bottom: 0;
    }

    .canceled .confirmation div,
    .complete .confirmation div,
    .expectation .confirmation div {
      left: 95px;
    }

    .complete .confirmation div {
      top: 4px;
    }

    .col7 {
      padding-left: 115px !important;
    }
  }

}

.col3{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 15px;
  box-sizing: border-box;
}

