<div class="profile-narrow login-history section" [ngClass]="{ 'visible': isVisible, 'hidden': !isVisible }">
  <div class="profile-title">
    <h2 class="fl-row">Activity</h2>
  </div>
  <div>
    <div class="login-history-table">
      <div class="login-history-table-title">
        <span>Time</span>
        <span>IP</span>
        <span>Agent</span>
        <span>Activity</span>
      </div>
      <div class="login-history-item" *ngFor ="let userSession of userSessions">
        <span class="col1">{{ userSession.time | date: 'dd/MM/yy' }} — {{ userSession.time | date: 'hh:mm' }}</span>
        <span class="col2">{{ userSession.ipAddress }}</span>
        <span class="col3">{{ userSession.userAgent }}</span>
        <span class="col4" *ngIf="userSession.type == 0">Log in</span>
      </div>
    </div>
    <!-- <div class="navigate-buttons">
      <button class="page-nav mr-24">Prev</button>
      <button class="page-numb active mr-14">1</button>
      <button class="page-numb mr-14">2</button>
      <button class="page-numb mr-24">3</button>
      <button class="page-nav">Next</button>
    </div> -->
  </div>
</div>

