.exchanger-header {
    background: #0f1d2f;
}

.lang-switch-container {
    position: absolute;
    right: 30px;
    bottom: 15px;
    form {
        width: 100px;
    }
    label {
        width: 100%;
        position: relative;
        img {
            position: absolute;
            top: 7px;
            left: 5px;
        }
    }
    select {
        width: 100%;
        padding: 5px;
        padding-left: 25px;
        background: transparent;
        background-color: rgba(0, 0, 0, 0.2);
        border: 0;
        color: #8B909E;
        cursor: pointer;
        option {
            background-color: rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }
    }
}
@media screen and (max-width: 700px) {
    .exchanger-header-nav li{
        margin: 0;
        a{
           width: max-content;
           margin: 0
        }
    }
    .swiper-slide{
        margin: auto;
        display: flex;
        justify-content: space-between;
        width: calc(100vw - 60px);
    }
  }
@media screen and (max-width: 600px) {
    .swiper-slide{
        width: calc(100vw - 26px);
    }
    #user{
      padding-left: 60px;
    }
    .lang-switch-container {
        display: none;
    }
}
@media screen and (max-width: 600px) {
    .exchanger-header-nav li a{
        font-size: 12px;
    }
}

.profile2{
    left: 7px;
}
.zi999{
    z-index: 99999!important;
  }
