

a.sign-logo {
    /* position: absolute;
    top: 43px; left: 50%;
    margin-left: -35px; */
    overflow: hidden;
    display: block;
    width: 47px; height: 47px;
    line-height: 200px;
    background-size: auto 47px;
    margin: auto;
}



.sign-narrow {
    max-width: 394px;
    margin: 0 auto;
    padding: 204px 11px 30px 11px;
}

.sign-container {
    padding-bottom: 27px;
    border-radius: 3px;
    // box-shadow: 0 10px 44px rgba(137, 145, 164, 0.13);
    padding-top: 35px;
}
.text-box{
    // color: white;
    text-align: center;

    .title{
        display: block;
        margin-top: 15px;
        font-size: 20px;
    }
    .text{
        display: block;
        margin-top: 20px;
        line-height: 24px;
        font-size: 16px;
        font-weight: 300;
    }
}


@media screen and (max-width: 370px) {
    .sign-narrow {
        padding: 128px 11px 30px 11px;
    }
}

.sign {
    width: 100vw;
    height: 100vh;
}

.sign-container {
    opacity: 0.9;
    overflow: hidden;
}
.bac-logo{
    background-position-x: 47%;
    background-position-y: 41px;
    overflow: auto;
    width: 100vw;
    height: 100vh;
}




@media screen and (max-width: 370px) {
    .sign-narrow {
        padding: 128px 11px 30px 11px;
    }
}



