<div class="history-narrow deposit section" [ngClass]="{ 'visible': isVisible, 'hidden': !isVisible }" *ngIf="wallet">
    <div class="balance-title">
        <label for="back">
          <h2>
              <button class="back-btn" id="back" (click)="back()"></button>
              <b>Deposit</b>
            </h2>
          </label>
    </div>  
    
    <div class="profile-right">
        <div class="profile-right-title">Bitcoin deposit address<button class="copy-btn-balance" (click)="copyToClipboard(deposit)"></button></div>

        <div class="profile-right-content">
          <div class="qr">
              <ngx-qrcode 
              class=""
              [qrc-value] = "deposit"
              qrc-class = "aclass"
              qrc-errorCorrectionLevel = "L">
            </ngx-qrcode>
          </div>
          <div class="qr-text">
              <div></div>
              <span>Send only BTC to this<br> deposit address.</span>
          </div>
        </div>
        <div class="qr-text-gold">
            <span>{{ deposit }}</span>
        </div>
    </div>

    <div class="profile-left">
        <div class="balance-table" >
            <div class="balance-table-title">
                <span>Coin</span>
                <span>Balance</span>
            </div>
    
            <div class="balance-table-item" >
                <span  before="Coin">
                    <img src="../../../../assets/images/btc-green.svg" alt="">
                    <b>{{ wallet.coin.shortName }} – {{ wallet.coin.name }}</b>
                </span>
                <span  before="Balance" *ngIf="viewBalance">{{ viewBalance }}</span>
            </div>
        </div>
        <div class="deposit-information">
          <span>– Coins will be deposited immediately after <a>2 network confirmations</a></span>
        </div>
    </div>
       
    
    
</div>