<div class="sign section" [ngClass]="{ 'visible': isVisible, 'hidden': !isVisible }">
  <div class="bac-logo">
    <div class="sign-narrow">
        <div class="sign-container">
            <a href="" class="sign-logo"></a>
            <div class="text-box">
                <span class="title">Successfull!</span>
                <span class="text">Your registration was successful, <br>
                  we sent an activation letter to your email.</span>
            </div>
            
        </div>
  
    </div>
  </div>
</div>