<div class="profile-narrow login-history">
    <div class="profile-title notifications-title">
        <h2>Notifications</h2>
        <div class="notifications-item">
            <input type="checkbox" id="todo_1" checked>
            <label for="todo_1">
                <span></span>Email me about news
            </label>
        </div>
        <div class="notifications-item">
            <input type="checkbox" id="todo_2">
            <label for="todo_2">
                <span></span>Email me about my logins
            </label>
        </div>
        <div class="notifications-item">
            <input type="checkbox" id="todo_3">
            <label for="todo_3">
                <span></span>Email me about coin removals
            </label>
        </div>
        <div class="notifications-item">
            <input type="checkbox" id="todo_4">
            <label for="todo_4">
                <span></span>Email me about market removals
            </label>
        </div>
    </div>

    <div class="notifications-buttons">
        <button class="main-btn" >SAVE</button>
    </div>
</div>