.main-btn{
    width: 142px;
    margin: 0;
    margin-top: 15px;
}

@media screen and (max-width: 450px){
    .main-btn{
        width: 100%;
    }
}

.notif {
    .main-btn-hov{
        overflow: hidden;
        padding-top: 15px !important;
        border-radius: 4px;
        font-size: 16px;
        font-weight: 900;
        transition: none;
        overflow: hidden;
    }
    .main-btn-hov::after {
        content: 'SAVE';
        height: 48px;
        display: block;
        transition: .3s;
        top: -32px;
        padding-top: 14.5px;
        box-sizing: border-box;
        border-radius: 4px;
    }
}

.btnTexts{
    position: relative;
    .some-answer{
        position: absolute;
        width: fit-content;
        top: 40px;
        left: 200px;
        color: #D1C174;
        transition: 1.5s;
        opacity: 0;
        img{
            margin-right: 11px;
        }
    }
    .some-answer-open{
        opacity: 1;
    }


}