<div class="sign">
    <div class="sign-narrow">
        <div class="sign-container">
            <a href="" class="sign-logo"></a>
            <h3>Sign in</h3>

            <form [formGroup]="signInForm" (ngSubmit)="submitAuthorization(signInForm)">
                <div class="sign-container-input">
                    <span>Email</span>
                    <input class="sign-place" type="text" placeholder="sample@gmail.com" formControlName="login">
                    <div class="error">
                        <span class="error-text">Сan't be empty!</span>
                    </div>
                </div>

                <div class="sign-container-input">
                    <span>Password</span>
                    <input class="sign-place" type="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
                        formControlName="password">
                </div>

                <div class="sign-container-checkbox">
                    <input type="checkbox" id="todo_1" />
                    <label for="todo_1">
                        <span></span>Remember me
                    </label>
                    <!-- <a href="" class="sign-container-fgtpss">Forgot password?</a> -->
                </div>

                <button class="main-btn" type="submit">LOGIN</button>
            </form>
        </div>

    </div>
</div>