<div class="sign">
    <div class="bac-logo">
        <div class="sign-narrow">
            <div class="sign-container">
                <a href="" class="sign-logo"></a>
                <h3>Sign in</h3>
                <div class="showPassMessage" [ngClass]="{
                    'showPassMessage-open': showPassMessage
                }">
                    <span class="showPassMessageText">{{ showPassMessageText }}</span>
                </div>
                <form [formGroup]="signInForm" (ngSubmit)="submitAuthorization(signInForm)">
                    <div class="sign-container-input error" [ngClass]="{
                        'error-open' : (signInForm.controls.login.hasError('required')&& signInForm.controls.login.touched) || (signInForm.controls.login.hasError('email')  && signInForm.controls.login.touched)
                    }">
                        <span>Email</span>
                        <input class="sign-place" type="email" placeholder="sample@gmail.com" formControlName="login" required>
                        <div class="error-text" [ngClass]="{
                            'error-text-open' : signInForm.controls.login.hasError('required') && signInForm.controls.login.touched
                        }">Сan't be empty!</div>
                        <div class="error-text" [ngClass]="{
                            'error-text-open' : signInForm.controls.login.hasError('email')  && signInForm.controls.login.touched
                        }">Wrong Email</div>
                       
                        <div class="error-text" [ngClass]="{
                            'error-text-open' : signInForm.controls.login.hasError('emailError')  && signInForm.controls.login.touched
                        }">{{emailErrorText}}</div>
                        
                    </div>
                    
    
                    <div class="sign-container-input error" [ngClass]="{
                        'error-open' : signInForm.controls.password.hasError('required')&& signInForm.controls.password.touched
                    }">
                        <span>Password</span>
                        <input class="sign-place" type="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
                            formControlName="password" required>
                            <div class="error-text"[ngClass]="{
                                'error-text-open' : signInForm.controls.password.hasError('required') && signInForm.controls.password.touched
                            }">Сan't be empty!</div>
                    </div>
    
                    <div class="sign-container-checkbox">
                        <input type="checkbox" id="todo_1" />
                        <label for="todo_1">
                            <span></span>Remember me
                        </label>
                        <!-- <a href="" class="sign-container-fgtpss">Forgot password?</a> -->
                    </div>
    
                    <button class="main-btn main-btn-hov" type="submit">LOGIN</button>
                    <div class="link">
                        <a routerLink="/recovery">Forgot password?</a>
                    </div>
                </form>
            </div>
    
        </div>
    </div>
</div>