<div class="sign">
  <div class="sign-narrow">
      <div class="sign-container">
          <a href="" class="sign-logo"></a>
          <h3>Sign in</h3>
          <div class="sign-container-input">
              <span>Email</span>
              <input type="text" placeholder="sample@gmail.com">
          </div>
          <div class="sign-container-input">
              <span>Password</span>
              <input type="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;">
          </div>
          <div class="sign-container-checkbox">
              <input type="checkbox" id="todo_1" />
              <label for="todo_1">
                <span></span>Remember me
              </label>
              <!-- <a href="" class="sign-container-fgtpss">Forgot password?</a> -->
          </div>
          <button routerLink="/profile">LOGIN</button>
      </div>
      
  </div>
</div>
