<div class="sign reg">
        <div class="bac-logo">
            <div class="sign-narrow">
                <div class="sign-container">
                    <a href="#" class="sign-logo">xxx</a>
        
                    <h3>Create your account</h3>
        
                    <form [formGroup]="signUpForm" (ngSubmit)="submitRegistration(signUpForm)">
                        <div class="sign-container-input error" [ngClass]="{
                            'error-open' : signUpForm.controls.fullName.hasError('required')&& signUpForm.controls.fullName.touched
                        }">
                            <span>Full name</span>
                            <input class="sign-place" type="text" placeholder="First & Last name" formControlName="fullName" required>
                            <div class="error-text" [ngClass]="{
                                'error-text-open' : signUpForm.controls.fullName.hasError('required') && signUpForm.controls.fullName.touched
                            }">Сan't be empty!</div>
                        </div>
        
                        <div class="sign-container-input error"[ngClass]="{
                            'error-open' : signUpForm.controls.password.hasError('required')&& signUpForm.controls.password.touched
                        }">
                            <span>Password</span>
                            <input class="sign-place" type="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" formControlName="password" required>
                            <div class="error-text" [ngClass]="{
                                'error-text-open' : signUpForm.controls.password.hasError('required') && signUpForm.controls.password.touched
                            }">Сan't be empty!</div>
                        </div>
        
                        <div class="sign-container-input error"[ngClass]="{
                            'error-open' : (signUpForm.controls.email.hasError('required')&& signUpForm.controls.email.touched) || (signUpForm.controls.email.hasError('errorError') && signUpForm.controls.email.touched) || (signUpForm.controls.email.hasError('email') && signUpForm.controls.email.touched)
                        }">
                            <span>Email</span>
                            <input class="sign-place" type="email" placeholder="sample@gmail.com" formControlName="email" required>
                            <div class="error-text" [ngClass]="{
                                'error-text-open' : signUpForm.controls.email.hasError('required') && signUpForm.controls.email.touched
                            }">Сan't be empty!</div>
                            <div class="error-text" [ngClass]="{
                                'error-text-open' : signUpForm.controls.email.hasError('errorError') && signUpForm.controls.email.touched
                            }">{{emailErrorText}}</div>
                            <div class="error-text" [ngClass]="{
                                'error-text-open' : signUpForm.controls.email.hasError('email') && signUpForm.controls.email.touched
                            }">Wrong Email</div>
                        </div>
        
                        <div class="sign-container-checkbox">
                            <input type="checkbox" id="todo_1" />
                            <label for="todo_1">
                                <span class="sup-lable"></span>I agree to the <a href="">Terms and conditions</a>
                            </label>
                        </div>
        
                        <button type="submit" class="main-btn main-btn-hov">CREATE ACCOUNT</button>
                    </form>
        
                    <div class="sign-links">
                        <a routerLink="/authorization">Already have an account?</a><br><br>
                    </div>
                </div>
            </div>
        </div>
</div>