
a.sign-logo {
    /* position: absolute;
    top: 43px; left: 50%;
    margin-left: -35px; */
    overflow: hidden;
    display: block;
    width: 47px; height: 47px;
    line-height: 200px;
    // background: url(../../../../assets/images/logo.svg)no-repeat;
    background-size: auto 47px;
    margin: auto;
}



a {
    text-decoration: underline;
}







input[type=checkbox] { display: none }

input[type=checkbox] + label {
    font-size: 15px;
    cursor: pointer;
    position: relative;
    border-radius: 3px;
    display: inline-block;
    padding: 5px 5px 5px 34px;
}

input[type=checkbox] + label span {
    left: 5px;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 4px;
}



input[type=checkbox] + label span::after {
    width: 11px;
    height: 11px;
    left: 2.8px;
    top: 2.2px;
    flex-shrink: 0;
    border-radius: 3px;
    content: '';
    display: block;
    position: absolute;
    background-size: 13px auto;
    transform: scale(0);
    transition: transform 300ms cubic-bezier(0.3, 0, 0, 1.5);
}
input[type=checkbox] + label .sup-lable::after{
    left: 2.6px;
    top: 2.4px;
}

input[type=checkbox]:checked + label span::after {
    transform: scale(1);
}



















.sign {
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.sign-narrow {
    max-width: 394px;
    margin: 0 auto;
    padding: 155px 11px 30px 11px;
    // overflow: hidden;
}

.sign-container {
    padding-bottom: 35px;
    border-radius: 3px;
    padding-top: 35px;
}

.sign-container h3 {
    padding: 17px 0 35px 0;
    text-align: center;
    font-size: 20px;
    line-height: 26px;
    
}

.sign-container-input {
    padding: 13px 22px 10.5px 28px;
}

.sign-container-input span {
    display: block;
    float: left;
    width: 31.8%;
    height: 36px;
    line-height: 36px;
    font-size: 15px;
    font-weight: 500;
}

.sign-container-input input {
    width: 55%;
    height: 36px;
    border: 0;
    background-color: transparent;
    font-size: 15px;
    font-weight: 400;
}

.sign-container-checkbox {
    padding: 22px 22px 19px 21px;
}

.sign-container-checkbox a.sign-container-fgtpss {
    float: right;
    margin-top: 4px;
}

.sign-container button {
    width: calc(100% - 45px);
    height: 55px;
    margin: 0 22px 0 23px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 900;
    transition: none;
    overflow: hidden;
}


.sign-links {
    padding: 27px 0 0 0;
    text-align: center;
    font-size: 15px;
    line-height: 3px;
}



@media screen and (max-width: 370px) {
    .sign-narrow {
        padding: 128px 11px 30px 11px;
    }
    .sign-container h3 {
        padding: 25px 0 26px 0;
    }
    .sign-container-input {
        padding: 13px 12px 10.5px 17px;
    }
    .sign-container-input span {
        width: 39%;
    }
    .sign-container-input input {
        width: 61.0%;
    }
    .sign-container-checkbox {
        padding: 22px 17px 19px 13px;
        font-size: 15px;
    }
    .sign-container button {
        width: calc(100% - 36px);
        margin: 0 19px 0 19px;
    }
    .sign-links {
        padding: 33px 0 0 0;
    }
}

input[type=checkbox] + label,
input[type=checkbox] + label span
{
    -webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	     -o-transition: all 0.3s ease;
		    transition: all 0.3s ease;
}

















.sign {
    // background-position-x: 47%;
    // background-position-y: 41px;
    width: 100vw;
    height: 100vh;
}

.sign-container {
    opacity: 0.9;
}




@media screen and (max-width: 370px) {
    .sign-narrow {
        padding: 128px 11px 30px 11px;
    }
    .sign-container h3 {
        padding: 25px 0 26px 0;
    }
    .sign-container-input {
        padding: 13px 12px 10.5px 17px;
    }
    .sign-container-input span {
        width: 39%;
    }
    .sign-container-input input {
        width: 61.0%;
    }
    .sign-container-checkbox {
        padding: 22px 17px 19px 13px;
        font-size: 15px;
    }
    .sign-container button {
        width: calc(100% - 36px);
        margin: 0 19px 0 19px;
    }
    .sign-links {
        padding: 33px 0 0 0;
    }
}




.bac-logo{
    background-position-x: 47%;
    background-position-y: 41px;
    overflow: auto;
    width: 100vw;
    height: 100vh;
}
