<div class="sign">
  <div class="sign-narrow">
      <div class="sign-container">
              <a href="" class="sign-logo">xxx</a>
          <h3>Create your account</h3>
          <div class="sign-container-input">
              <span>Full name</span>
              <input class="sign-place" type="text" placeholder="First & last name">
          </div>
          <div class="sign-container-input">
              <span>Password</span>
              <input class="sign-place" type="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;">
          </div>
          <div class="sign-container-input">
              <span>Email</span>
              <input class="sign-place" type="text" placeholder="sample@gmail.com">
          </div>
          <div class="sign-container-checkbox">
              <input type="checkbox" id="todo_1" />
              <label for="todo_1">
                <span class="sup-lable"></span>I agree to the <a href="">Terms and conditions</a>
              </label>
          </div>
          <button class="main-btn">CREATE ACCOUNT</button>
          <div class="sign-links">
              <a routerLink="/authorization">Already have an account?</a><br><br>
          </div>
      </div>
  </div>
</div>