

<!-- <section class="account-page"> -->
  <!-- <div class="container block-row"> -->
    <!-- <app-sidebar *ngIf='!noSidebar'></app-sidebar> -->
      <!-- <div class="block-column client-content" id="client-content"> -->
        <!-- <app-header  *ngIf='!noHeader'></app-header> -->
        
          <!-- <router-outlet></router-outlet> -->
        
      <!-- </div> -->
  <!-- </div> -->
<!-- </section> -->

<section class="main">
  <app-header *ngIf='!noHeader'></app-header>
  <router-outlet></router-outlet>
</section>