<div class="history-narrow">
  <div class="balance-title">
      <h2><b>Balance</b></h2>
      <div class="balance-title-search">
          <input type="text" placeholder="Search coin...">
          <button></button>
      </div>
  </div>
  <div class="balance-table">
        <div class="balance-table-title">
            <span>Coin</span>
            <span>Balance</span>
            <span>On orders</span>
            <span>VTC Value</span>
        </div>
        <div class="balance-table-item">
            <span>
                <img src="../../../assets/images/btc.svg" alt="">
                <b>Bitcoin</b>
            </span>
            <span before="Total balance">35.00000000</span>
            <span before="On orders">0.00000000</span>
            <span before="VTC Value">0.00000000</span>
        </div>
        <div class="balance-table-item">
            <span>
                <img src="../../../../assets/images/btc-green.svg" alt="">
                <b>Bitcoin</b>
            </span>
            <span before="Total balance">35.00000000</span>
            <span before="On orders">0.00000000</span>
            <span before="VTC Value">0.00000000</span>
        </div>
  </div>
</div>
