.api-keys-title {
  padding: 45px 0 30px 0;
  font-size: 15px;
  line-height: 22px;
}

.api-keys-item {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 19px 14px 19px 2px;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.016em;
  width: 100%;
  align-items: center;

  .column1 {
    width: 40%;

  }

  .column2 {
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .column3 {
    width: 20%;
    align-items: center;
    height: 27px;
    position: relative;
  }
}

.api-keys-item-title {
  display: flex;
  justify-content: space-between;


}

.settings {
  position: absolute;
  border-radius: 6px;
  width: 585px;
  height: 52px;
  top: 46px;
  display: flex;
  padding: 9px;
  box-sizing: border-box;
  right: -150px;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: -5;
}
.settings-open{
  opacity: 1;
  z-index: 3;
}
.open {
  opacity: 1;
  z-index: 3;
}

.row {
  display: flex;
  flex-direction: row;
  margin-top: 29px;
}

.main-btn {
  width: 142px;
  margin: 0;
}

.transparent-btn {
  width: 245px;
  // margin-left: 20px;
}


.api-keys-item b {
  font-weight: 400;
}

.api-keys-item b i {
  display: inline-block;
  margin-left: 12px;
  font-style: normal;
  cursor: pointer;
  opacity: 0;
}



.api-keys-item:hover b i {
  opacity: 1;
}

.api-keys-item-links {
  float: right;
}

.api-keys-item span {
  float: right;
  display: inline-block;
  margin-left: 23px;
  cursor: pointer;
}


@media screen and (max-width: 600px) {
  .api-keys-title {
    padding: 28px 0 9px 0;
  }

  .api-keys-item {
    padding: 13px 12px 15px 0;
  }

  .api-keys-item-links {
    float: left;
    padding-top: 6px;
  }

  .api-keys-item span {
    margin-left: 0;
    margin-right: 23px;
  }

  .api-keys-item b {
    display: block;
  }

  .api-keys-item b i {
    position: absolute;
    right: 2px;
    top: 41px;
    opacity: 1;
  }
}







input[type=checkbox] {
  display: none
}

input[type=checkbox]+label {
  font-size: 15px;
  cursor: pointer;
  position: relative;
  border-radius: 3px;
  display: inline-block;
  padding: 5px 5px 5px 57px;
}

input[type=checkbox]+label span {
  left: 5px;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  display: block;
  border-radius: 4px;
}


input[type=checkbox]+label span::after {
  width: 16px;
  height: 16px;
  left: 0px;
  top: 0px;
  flex-shrink: 0;
  border-radius: 3px;
  content: '';
  display: block;
  position: absolute;
  // background: url(../../../../assets/images/blak-check.svg)no-repeat center/16px;
  transform: scale(0);
  transition: transform 300ms cubic-bezier(0.3, 0, 0, 1.5);
}



input[type=checkbox]:checked+label span::after {
  transform: scale(1);
}


@media screen and (max-width: 600px) {

  input[type=checkbox]+label {
    margin-bottom: 7px;
  }
}




@media screen and (max-width: 1175px) {
  .settings {
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
    left: -45px;
  }

  .settings::before {
    bottom: 100%;
    left: 50px;
  }

  .api-keys-item span {
    margin-left: 0;
  }

  input[type=checkbox]+label {
    padding: 5px 5px 5px 40px;
  }
}

@media screen and (max-width: 720px) {
  .api-keys-title {
    padding: 25px 0 15px 0;
  }
}



.api {
  .main-btn-hov{
      overflow: hidden;
      padding-top: 15px !important;
      border-radius: 4px;
      font-size: 16px;
      font-weight: 900;
      transition: none;
      overflow: hidden;
  }
  .main-btn-hov::after {
      content: 'SAVE';
      height: 48px;
      display: block;
      transition: .3s;
      top: -32px;
      padding-top: 14.5px;
      box-sizing: border-box;
      border-radius: 4px;
  }
}
.invisibleInp{
  background: transparent;
  border: none;
  color: #686D7A;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.016em;
}








.inp-checkbox{
  // position: absolute;
  //   width: 192px;
}





.btnTexts{
  position: relative;
  .some-answer{
      position: absolute;
      width: fit-content;
      // top: 15px;
      left: 260px;
      color: #D1C174;
      transition: 1.5s;
      opacity: 0;
      bottom: 0;
      height: 48px;
      left: 180px;
      align-items: center;
      display: flex;
      img{
          margin-right: 11px;
      }
  }
  .some-answer-open{
      opacity: 1;
  }


}

.lds-ellipsis{
  margin-top: -8px;
}

@media screen and (max-width: 950px) {
  .api-keys-title {
    // padding: 45px 0 0 0;
  }

  .api-keys-item-title {
    display: none;
  }

  .api-keys-title {
    padding-bottom: 13px;
  }

  .api-keys-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .column {
    position: relative;
    width: 100% !important;
    box-sizing: border-box;
    padding-left: 100px;
    margin: 3px 0;
  }

  .column1::before {
    content: 'API';
    position: absolute;
    left: 0;
  }

  .column2::before {
    content: 'Secret code';
    position: absolute;
    left: 0;
  }

  .settings {
    left: 55px;
  }

}
@media screen and (max-width: 600px) {
  .api-keys-title {
    padding: 0;
  }
}