<section class="section index" [ngClass]="{ 'visible': isVisible, 'hidden': !isVisible }">
	<div id="left" style="top: 60px" [ngClass]="{ 'visible': responciveTabs == 1 }">

		<form class="left-content-block" [formGroup]="tradeForm" (ngSubmit)="submitOrder(tradeForm)" *ngIf="tradeForm">
			<div class="left-content box-responcive visible1">
				<div class="left-content-balance" *ngIf="isLoggedIn">
					<h4>Balance</h4>

					<div class="left-content-balance-item" *ngIf="quoteWallet">
						<b>{{ currentPair.quoteAsset.shortName }}</b>{{ quoteWallet.availableBalance.toFixed(8) }}
					</div>

					<div class="left-content-balance-item" *ngIf="baseWallet">
						<b>{{ currentPair.baseAsset.shortName }}</b>{{ baseWallet.availableBalance.toFixed(8) }}
					</div>
				</div>

				<div class="pos-rel">
					<div class="box visible">
						<div class="left-content-sell">
							<div class="double-btns" [ngClass]="{'change-double-btn': buyCell}">
								<button class="" type="button" (click)='changeOrderAct("buy")'>BUY</button>
								<button class="" type="button" (click)='changeOrderAct("sell")'>SELL</button>
								<div class="choose"></div>
							</div>

							<div class="left-content-sell-input">
								Price
								<input placeholder="1.00000000" type="number" formControlName="price" required>
								<b class="input-decor">{{ currentPair.quoteAsset.shortName }}</b>
							</div>

							<div class="left-content-sell-input">
								Amount
								<input placeholder="1.00000000" type="number" formControlName="amount" required>
								<b>{{ currentPair.baseAsset.shortName }}</b>
							</div>

							<div class="left-content-sell-input percents">
								<div class="percent" (click)="calcPercent(0.25)"><span>25%</span></div>
								<div class="percent" (click)="calcPercent(0.5)"><span>50%</span></div>
								<div class="percent" (click)="calcPercent(0.75)"><span>75%</span></div>
								<div class="percent" (click)="calcPercent(1)"><span>100%</span></div>
							</div>

							<div class="left-content-sell-input">
								Total
								<input placeholder="1.00000000" type="number" formControlName="total" required readonly style="cursor: default">
								<b>{{ currentPair.quoteAsset.shortName }}</b>
							</div>

							<button class="transparent-btn" type="submit" *ngIf="isLoggedIn"
								[attr.disabled]="loader ? true : null">{{ buyCellBtn }}
								<div class="loader" [ngClass]="{'loader-open':loader}">
									<div class="lds-ellipsis">
										<div></div>
										<div></div>
										<div></div>
										<div></div>
									</div>
								</div>
							</button>
							<div class="orderError" [ngClass]="{'orderError_open': orderError}"><span>{{ orderErrorText }}</span></div>

						</div>
					</div>
				</div>
				<div class="left-content-buttons" *ngIf="!isLoggedIn">
					<button type="button" class="main-btn main-btn-hov" routerLink="/authorization">SIGN IN</button>
					<button type="button" class="transparent-btn" routerLink="/registration"
						style="margin-top: 22px;">REGISTER</button>
				</div>
			</div>
		</form>
	</div>
	<div id="content">
		<div id="top" [ngClass]="{ 'zi999': currencyBox }">
			<div class="top-currency" *ngIf="currentPair">
				<span class="top-currency-btn" (click)="currencyBox = !currencyBox">
					<img src="../../../../assets/images/eth.svg" alt="">
					<div style="padding: 4px 6px 0 6px;">{{ currentPair.symbol }}</div>
					<img src="../../../../assets/images/btc.svg" alt="">
				</span>

				<div class="top-currency-dropdown" [ngClass]="{'tcd-open': currencyBox}">

					<form class="top-currency-dropdown-search" [formGroup]="searchForm">
						<input type="text" placeholder="Search" formControlName="search">
						<button type="submit"></button>
					</form>

					<div class="top-currency-dropdown-title">
						<span>Symbol</span>
						<span>Base</span>
						<span>Quote</span>
					</div>

					<div class="top-currency-items-wrapper" malihu-scrollbar [scrollbarOptions]="scrollbarOptionsY">
						<div class="top-currency-dropdown-item" *ngFor="let pair of pairs" (click)="setPair(pair)">
							<span><b>{{ pair.symbol }}</b></span>
							<span>{{ pair.baseAsset.shortName }}</span>
							<span>{{ pair.quoteAsset.shortName }}</span>
							<!-- <span>2213.466</span>
                            <span class="top-currency-green">+8.23%<img src="../../../../assets/images/green-arr.svg" alt=""></span> -->
						</div>
					</div>
				</div>

			</div>

			<div class="top-last-price" *ngIf="stats"  >
				<div class="top-last-price-item">
					<b style="text-transform: uppercase;">LAST PRICE</b> {{ stats.last.toFixed(8) }}
					<!-- <span>$137.81</span> -->
				</div>
				<div class="top-last-price-item">
					<b style="text-transform: uppercase;">24h change</b>{{ stats.change.toFixed(8) }}
					<!-- <span>+5.85%</span> -->
				</div>
				<div class="top-last-price-item">
					<b style="text-transform: uppercase;">24h high</b>{{ stats.high.toFixed(8) }}
					<em></em>
				</div>
				<div class="top-last-price-item">
					<b style="text-transform: uppercase;">24h LOW</b> {{ stats.low.toFixed(8) }}
					<em></em>
				</div>
				<div class="top-last-price-item">
					<b style="text-transform: uppercase;">24h volume</b> {{ stats.volume.toFixed(8) }} 
				</div>
			</div>
			<!--
            <a href="" class="login">User login</a>
            <a href="" class="register">Create new account</a>
            -->
		</div>
		<ul class="reset responcive-tabs visible">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">

						<li class="current1" (click)="responciveTabs = 1" [ngClass]="{
                                'active': responciveTabs == 1
                            }">BALANCE</li>
						<li (click)="responciveTabs = 2" [ngClass]="{
                                'active': responciveTabs == 2
                            }">ORDER
							BOOK</li>
						<li (click)="responciveTabs = 3" [ngClass]="{
                                'active': responciveTabs == 3
                            }">TRADE
							HISTORY</li>
						<li (click)="chart = true && responciveTabs = 4" [ngClass]="{
                                'active': responciveTabs == 4
                            }">PRICE
							CHART</li>
						<li (click)="responciveTabs = 6" [ngClass]="{
                                'active': responciveTabs == 5
                            }">OPEN
							ORDERS</li>
					</div>
				</div>
			</div>
		</ul>
		<div class="gradients" style="position:absolute;left:-9999px;">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg">
				<defs>

					<filter id="shadow" filterUnits="userSpaceOnUse" x="0" y="0" width="1200" height="400">
						<feGaussianBlur in="SourceAlpha" stdDeviation="3" result="blur" />
						<feOffset in="blur" dx="1" dy="1" result="offsetBlr" />
						<feFlood flood-color="rgba(237, 114, 72, 0.2)" />
						<feComposite operator="in" in2="offsetBlr" result="colBlur" />
						<feMerge>
							<feMergeNode in="colBlur" />
							<feMergeNode in="SourceGraphic" />
						</feMerge>
					</filter>
				</defs>
			</svg>
			<svg xmlns="http://www.w3.org/2000/svg" width="200px" height="200px">
				<defs>
					<linearGradient id="lgrad1" x1="50%" y1="0%" x2="50%" y2="100%">
						<stop offset="0%" style="stop-color:rgb(30,25,45);stop-opacity:1" />
						<stop offset="100%" style="stop-color:rgb(30,25,45);stop-opacity:1" />
					</linearGradient>
				</defs>
				<rect x="0" y="0" width="100%" height="100%" fill="url(#lgrad1)" />
			</svg>
			<svg xmlns="http://www.w3.org/2000/svg" width="200px" height="200px">
				<defs>
					<linearGradient id="lgrad2" x1="50%" y1="0%" x2="50%" y2="100%">
						<stop offset="0%" style="stop-color:rgb(28,49,56);stop-opacity:1" />
						<stop offset="100%" style="stop-color:rgb(28,49,56);stop-opacity:1" />
					</linearGradient>
				</defs>
				<rect x="0" y="0" width="100%" height="100%" fill="url(#lgrad2)" />
			</svg>
		</div>

		<div class="content-left box-responcive" *ngIf="currentPair" [ngClass]="{'visible': responciveTabs == 2}">
			<h2>ORDER BOOK</h2>
			<span style="padding-left: 25px;">Price({{ currentPair.quoteAsset.shortName }})</span>
			<span>Amount({{ currentPair.baseAsset.shortName }})</span>
			<span>Total({{ currentPair.quoteAsset.shortName }})</span>

			<div class="content-left-info" >
				<div class="content-left-red" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
					<div class="content-left-red-item left-red" *ngFor="let order of openOrders.sell">
						<span>{{ order.price.toFixed(8) }}</span>
						<span>{{ order.amount.toFixed(8) }}</span>
						<span>{{ (order.price * order.amount).toFixed(8) }}</span>
						<!-- <em style="width: 2px;"></em> -->
					</div>



				</div>

				<div class="content-left-sticky" *ngIf="currentPrice" style="display: flex; justify-content: center; align-items: center; padding: 0;">
					<span class="price-indicator" [ngClass]="{'content-left-sticky-green': priceForStick == 2, 'content-left-sticky-red': priceForStick == 1 , 'content-left-sticky-common': priceForStick == 0}" style="margin: 0">{{ currentPrice.price.toFixed(6) }}</span>
					<!-- <span class="content-left-sticky-text">$137.81</span> -->
				</div>

				<div class="content-left-red" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
					<div class="content-left-red-item left-green" *ngFor="let order of openOrders.buy">
						<span>{{ order.price.toFixed(8) }}</span>
						<span>{{ order.amount.toFixed(8) }}</span>
						<span>{{ (order.price * order.amount).toFixed(8) }}</span>
						<!-- <em style="width: 2px;"></em> -->
					</div>
					
				</div>
			</div>
		</div>

		<div class="content-right box-responcive" *ngIf="currentPair" [ngClass]="{'visible': responciveTabs == 3}">
			<h2>TRADE HISTORY</h2>
			<span>Price({{ currentPair.quoteAsset.shortName }})</span>
			<span>Amount({{ currentPair.baseAsset.shortName }})</span>
			<span>UTC Time</span>

			<div class="content-right-info" *ngIf="closedOrders" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
				<div class="content-right-item" *ngFor="let order of closedOrders">
					<span [ngClass]="{'history-green': order.type == OrderType.Buy, 'history-red': order.type == OrderType.Sell }">{{ order.price.toFixed(8) }}</span>
					<span>{{ order.amount.toFixed(8) }}</span>
					<span>{{ order.time | date: 'HH:mm:ss' }}</span>
				</div>
			</div>
		</div>

		<div class="content-center" malihu-scrollbar [scrollbarOptions]="scrollbarOptions" [ngClass]="{
            'content-center-visible': responciveTabs == 4  || responciveTabs == 6
        }">
			<div class="content-center-chart box-responcive" [ngClass]="{
                'visible': responciveTabs == 4 
            }">

				<ul class="reset content-center-tabs double-btns" [ngClass]="{
                    'change-double-btn': chart
                }">
					<button (click)="chart = false">Price chart</button>
					<button (click)="chart = true">Depth chart</button>
					<div class="choose"></div>
				</ul>

				<div class="box price-box" malihu-scrollbar [scrollbarOptions]="scrollbarOptions" [ngClass]="{
                    'visible': !chart
                    }">
					<h2>PRICE CHART</h2>
					<div class="chart-box" id="price-chart-box" 
							style="width: 100%;
								width: -moz-available;        
								width: -webkit-fill-available;  
								width: fill-available;"
							*ngIf="currentPairTV">
						<app-tv-chart-container #priceChart [symbol]="currentPairTV" [theme]="theme"></app-tv-chart-container>
						<!-- <app-tv-chart-container #priceChart></app-tv-chart-container> -->
					</div>

					<div class="chart-box" id="price-chart-box1" style="display:none"></div>
				</div>

				<div class="box depth-box" [ngClass]="{
                    'visible': chart
                    }">
					<h2>DEPTH CHART</h2>
					<div class="chart-box" id="depth-chart-box1">
						
					</div>

					<div class="chart-box" id="depth-chart-box" style="display:none">
					</div>

					<div class="depth_chart_control" style="display:none">
						<button id="depth_plus" class="balances-plus">+</button>

						<div class="depth_chart_header">
							<div class="mid_price_label">Mid Market Price</div>

							<div id="depth_chart_mid_price" class="mid_price">
								0
							</div>
						</div>

						<button id="depth_minus" class="balances-minus">-</button>
					</div>
				</div>
			</div>

			<div class="content-center-orders box-responcive block-orders" [ngClass]="{'visible': responciveTabs == 6}">
				<div class="box visible" *ngIf="currentPair">
					<h2>OPEN ORDERS</h2>
					<div class="content-orders" *ngIf="myOpenOrders">
						<div class="content-orders-title">
							<span>Size</span>
							<span>Filled ({{ currentPair.baseAsset.shortName }})</span>
							<span>Price ({{ currentPair.quoteAsset.shortName }})</span>
							<span>Time</span>
							<span>Status</span>
						</div>
						<div class="content-orders-item" *ngFor="let order of myOpenOrders">
							<span>{{ (order.amount * order.price).toFixed(8) }}</span>
							<span>{{ (order.amount - order.balance).toFixed(8) }}</span>
							<span>{{ order.price }}</span>
							<span>{{ order.time | date: 'HH:mm:ss' }}</span>
							<span><i>Ok</i></span>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>
</section>