::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-button {
  display: none
}

::-webkit-scrollbar-track {
  background-color: #999;
  border-radius: 20px;
}

::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #666;
  border-radius: 20px;
}

::-webkit-scrollbar-corner {
  background-color: #999;
  border-radius: 20px;
}

::-webkit-resizer {
  background-color: #666;
  border-radius: 20px;
}


a,
button,
input,
textarea,
ul.content-center-tabs li,
ul.content-orders-tabs li,
.left-top-menu,
.top-currency-dropdown-item,
.top-currency-dropdown,
.responcive-tabs li {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.depth_chart_control {
  display: flex;
  position: absolute;
  width: 210px;
  left: calc(50% - 105px);
  top: 70px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
}

.depth_chart_control .depth_chart_header {
  height: 100%;
  text-align: center;
}

.depth_chart_control .depth_chart_header .mid_price_label {
  font-family: 'Helvetica Neue';
  font-size: 16px;
  font-weight: 700;
  color: #9aa7b6;
  line-height: 20px;
  text-transform: uppercase;
}

.depth_chart_control .depth_chart_header .mid_price {
  font-family: 'Helvetica Neue';
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: #fff;
  margin-top: 5px;
}

.depth_chart_control .balances-plus,
.depth_chart_control .balances-minus {
  position: relative;
  margin: 0;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 3px;
  top: 14px;
}

.depth_chart_control .balances-plus {
  background: transparent;
  color: #fff;
  background-size: auto 7px;
  border: 1px solid #161f34;
}

.depth_chart_control .balances-minus {
  background: transparent;
  color: #fff;
  background-size: auto 1px;
  border: 1px solid #161f34;
}

.t_i {
  display: flex;
}

.t_h {
  font-size: 11px;
  color: #7783b5;
}

.t_v {
  font-size: 12px;
  color: #fff;
  font-weight: bold;
}

.f_t_i {
  margin-right: 22px;
}

.f_h {
  font-weight: bold;
}


#spacer {
  height: 200px;
}

.clear {
  clear: both;
}


a:hover {
  text-decoration: none;
}

.reset,
.reset li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pos-rel {
  position: relative;
}

////////////////////////////////////////////////////////////



/*---------------------- TOP ----------------------*/


#top {
  height: 60px;
  z-index: 999;
  position: absolute;
  width: 78%;
  top: 0;
}


.top-currency {
  display: inline-block;
  vertical-align: top;
  width: 250px;
  height: 60px;
  padding-right: 30px;
  // border-right: 1px solid #ffffff07;
  // border-left: 1px solid #ffffff07;
  // background: url(../../../../assets/images/arrow.svg) no-repeat right 24px center;
  background-size: 10px auto;
  cursor: pointer;
}

.top-currency span {
  display: block;
  height: 60px;
  padding: 0 0 0 22px;
  // color: #FFFFFF;
  font-size: 14px;
  font-weight: 300;
  line-height: 60px;
  letter-spacing: -0.018em;
}

.top-currency span.top-currency-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
}

.top-currency span img {
  width: 21px;
  height: 21px;
  margin: 0 3px -3px 4px;
}

@media screen and (max-width: 840px) {
  .top-currency {
    display: block;
    width: auto;
  }

  #top {
    width: 100%;
  }

}

@media screen and (max-width: 600px) {
  #top {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 61px;
  }

  .top-currency {
    position: relative;
    z-index: 4;
    height: 50px;
    border-right: 0;

    // border-bottom: 1px solid #e1e4e8;
    .top-currency-btn {
      height: 50px;
    }
  }
}







/*---------------------- top currency dropdown ----------------------*/
.top-currency-dropdown {
  position: absolute;
  z-index: 4;
  left: -1px;
  top: 70px;
  width: 281px;
  // background: #141720;
  // border: 1px solid rgba(255, 255, 255, 0.2);
  visibility: hidden;
  opacity: 0;
  border-radius: 4px;
  overflow: auto;
  max-height: 600px;
}

.tcd-open {
  top: 60px;
  visibility: visible;
  opacity: 1;
}

.top-currency-dropdown-search {
  position: relative;
  padding: 18px 27px 0px 25px;
}

.top-currency-dropdown-search input {
  width: calc(100% - 46px);
  height: 30px;
  padding: 0 12px 0 34px;
  // background: rgba(255, 255, 255, 0.03);
  border-radius: 4px;
  // color: #D1C881;
  font-size: 14px;
  border: none;
}


.top-currency-dropdown-search button {
  position: absolute;
  top: 21px;
  left: 30px;
  width: 24px;
  height: 24px;
  // background: url(../../../../assets/images/loop.svg) no-repeat center;
  background-size: 13px auto;
}

.top-currency-dropdown-title {
  overflow: hidden;
  padding: 9px 0 6px 0;
}

.top-currency-dropdown-title span {
  display: block;
  height: 20px;
  padding: 0;
  float: left;
  // color: #4D5364;
  font-size: 11px;
  font-weight: 700;
  line-height: 20px;
}

.top-currency-dropdown-title span:nth-child(1) {
  width: calc(43% - 28px);
  padding-left: 28px;
}

.top-currency-dropdown-title span:nth-child(2) {
  width: 28.5%;
}

.top-currency-dropdown-title span:nth-child(3) {
  width: 28.5%;
}

/* 
.top-currency-dropdown-title span:nth-child(4) {
  width: 17%;
}

.top-currency-dropdown-title span:nth-child(5) {
  width: 16%;
} */

.top-currency-items-wrapper {
  max-height: 412px;
  overflow-y: auto;
}

.top-currency-dropdown-item {
  overflow: hidden;
  height: 21px;
  line-height: 21px;
}

.top-currency-dropdown-item:nth-child(2n-1) {
  // background: #181B24;
}

.top-currency-dropdown-item:hover {
  // background: #38455270
}

.top-currency-dropdown-item span {
  display: block;
  float: left;
  height: 21px;
  padding: 0;
  line-height: 21px;
  // color: #fff;
  font-size: 11px;
  font-weight: 400;
}

.top-currency-dropdown-item span b {
  // color: #686D7A;
  font-weight: 700;
}

.top-currency-dropdown-item span:nth-child(1) {
  width: calc(43% - 28px);
  padding-left: 28px;
}

.top-currency-dropdown-item span:nth-child(2) {
  width: 28.5%;
}

.top-currency-dropdown-item span:nth-child(3) {
  width: 28.5%;
}

/* .top-currency-dropdown-item span:nth-child(4) {
  width: 17%;
}

.top-currency-dropdown-item span:nth-child(5) {
  width: 18%;
}

.top-currency-dropdown-item span.top-currency-green {
  // color: #48A43E;
} */

.top-currency-dropdown-item span.top-currency-green img {
  position: relative;
  top: -3px;
  left: -2px;
  width: 8px;
  height: 8px;
}

.top-currency-dropdown-item span.top-currency-red {
  // color: #A42A2A;
}

.top-currency-dropdown-item span.top-currency-red img {
  position: relative;
  top: -3px;
  left: -2px;
  width: 8px;
  height: 8px;
}

@media screen and (max-width: 840px) {
  .top-currency-dropdown {
    width: auto;
    right: 0;
  }
}

@media screen and (max-width: 600px) {
  .top-currency-dropdown {
    width: 96%;
    left: 10px;
    max-height: calc(100vh - 200px);
  }
}

/*---------------------- top currency dropdown end ----------------------*/


.top-last-price {
  display: inline-block;
  vertical-align: top;
  padding: 14px 0 0 20px;
}

.top-last-price-item {
  display: inline-block;
  vertical-align: top;
  padding: 0 38px 0 0;
  // color: #fff;
  font-size: 13px;
  font-weight: 300;
}

.top-last-price-item b {
  display: block;
  margin-bottom: 5px;
  // color: #4D5364;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
}

.top-last-price-item i {
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 18px;
  margin: -1px 5px 0 0;
  //background: url(../img/price-ico1.png) no-repeat center;
  //background-size: 18px;
}


.top-last-price-item i img {
  width: 100%;
}

.top-last-price-item span {
  position: relative;
  margin: 0 0 0 5px;
  // color: #48A43E;
}

@media screen and (max-width: 1280px) {
  .top-last-price {
    display: none;
  }
}

/*---------------------- top menu ----------------------*/







@media screen and (max-width: 600px) {
  .left-content {
    top: 131px;
    bottom: 52px;
  }

  .left-content-balance {
    padding: 21px 14px 4px 20px;
    // border-bottom: 1px solid #e9ecf1;
  }

  .left-content-balance h4 {
    margin-bottom: 12px;
    font-size: 18px;
    text-transform: none;
  }
}


/*---------------------- top menu end ----------------------*/

/*---------------------- TOP END ----------------------*/


/*---------------------- LEFT ----------------------*/
#left {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  // background: #141720;
  // border-right: 1px solid #ffffff07;
  // box-shadow: 0 0 40px rgba(10, 17, 54, 0.11);
}


.button-minus {
  position: absolute;
  top: 8px;
  cursor: pointer;
  right: 6px;
  width: 27px;
  height: 27px;
  border: 1px solid #ffffff33;
  border-radius: 4px;
  background-size: 7px auto;
  background: transparent;
  box-sizing: border-box;
  display: flex;
  span{
    display: flex;
    margin: auto;
    height: fit-content;
    line-height: 3px;
  }
}
.button-plus {
  position: absolute;
  top: 8px;
  cursor: pointer;
  right: 59px;
  width: 27px;
  height: 27px;
  border: 1px solid #ffffff33;
  border-radius: 4px;
  background-size: 7px auto;
  background: transparent;
  box-sizing: border-box;
  display: flex;
  span{
    display: flex;
    margin: auto;
    height: fit-content;
    line-height: 9px;
  }
}







.left-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 44px;
  overflow: auto;
}

.left-content::-webkit-scrollbar {
  width: 0;
}

.left-content-balance {
  position: relative;
  padding: 20px 18px 15px 18px;
  // border-bottom: 1px solid #ffffff07;
}

.left-content-balance h4 {
  margin-bottom: 20px;
  // color: #686D7A;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.left-content-balance-item {
  position: relative;
  padding: 5px 0 17px 0;
  // color: #FFFFFF;
  font-size: 14px;
  font-weight: 300;
}

.left-content-balance-item b {
  display: block;
  margin-bottom: 7px;
  // color: #686D7A;
  font-size: 10px;
  font-weight: 700;
}



@media screen and (max-width: 600px) {
  .left-content {
    top: 60px;
    bottom: 52px;
  }

  .left-content-balance {
    padding: 21px 14px 4px 20px;
  }

  .left-content-balance h4 {
    margin-bottom: 12px;
    font-size: 18px;
    text-transform: none;
  }
}



.left-content-buttons {
  padding: 26px 0 0px 0;
  // background: transparent;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 40px;
}

.left-content-buttons button {
  border-radius: 3px;
  font-size: 12px;
  font-weight: 700;
  // line-height: 36px;
  padding-top: 1px;
  margin: 0;
  transition: 0.3s;
}




.left-content-sell {
  overflow: hidden;
  padding: 20px 17px 0 14px;

  .double-btns {
    button {
      background: transparent;
      font-weight: 300;
      font-size: 12px;
      letter-spacing: 0.5px;
      border-radius: 3px;
    }
  }
}

.left-content-sell h4 {
  margin-bottom: 18px;
  // color: #414a5e;
  font-size: 14px;
  font-weight: 700;
}

button.button-buy {
  float: left;
  width: 50%;
  height: 25px;
  margin-bottom: 6px;
  // background: red;
  border-radius: 5px 0 0 5px;
  // color: white;
  font-size: 12px;
}

button.button-buy.button-buy-die {
  // border: 1px solid #e9ecf1;
  background-color: transparent;
  // color: #a2afbe;
}

button.button-sell {
  width: 50%;
  height: 25px;
  margin-bottom: 6px;
  border-radius: 0 5px 5px 0;
  // border: 1px solid #e9ecf1;
  // background: white;
  // color: #a2afbe;
  font-size: 12px;
}

button.button-sell.button-sell-live {
  // border: 1px solid red;
  // background: red;
  // color: white;
}

.left-content-sell-input {
  position: relative;
  margin-bottom: 0px;
  padding: 20px 0 0 0;
  // color: #4D5364;
  font-size: 12px;
  //font-weight: 700;
}

.left-content-sell-input input::-webkit-input-placeholder {
  // color: #4D5364;
}


.left-content-sell-input input {
  width: calc(100% - 64px);
  height: 38px;
  // caret-color: #D1C881;
  margin: 9px 0 0 0;
  padding: 0 48px 0 14px;
  // border: none;
  outline: none;
  // background: rgba(255, 255, 255, 0.03);
  border-radius: 4px;
  // color: #fff;
  font-size: 14px;
  font-weight: 400;
  // z-index: 1;
}


.left-content-sell-input b {
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: block;
  width: 52px;
  height: 40px;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  line-height: 41px;
  // z-index: -1;
  border-radius: 0px 4px 4px 0px;
}




.left-content-sell-input em {
  font-style: normal;
  float: right;
}

.left-content-sell-input em .radio+label {
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  margin-left: 9px;
}

.left-content-sell-input em .radio:not(checked) {
  position: absolute;
  opacity: 0;
  width: 11px;
  height: 11px;
}

.left-content-sell-input em .radio:not(checked)+label {
  position: relative;
  padding: 2px 0 0 22px;
  // color: #4D5364;
}

.left-content-sell-input em .radio:checked+label {
  // color: #D1C881;
}

.left-content-sell-input em .radio:not(checked)+label:before {
  content: '';
  position: absolute;
  top: 1px;
  left: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  // border: 1px solid #4D5364;
  background: transparent;
}


.left-content-sell-input em .radio:not(checked)+label:after {
  content: '';
  position: absolute;
  // top: 6px;
  // left: 5px;
  top: 5.6px;
  left: 5.4px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  // background: #D1C881;
  opacity: 0;
  transition: all .3s;
}

.radioMarket:after {
  top: 5.6px;
  left: 5px !important;
}

.left-content-sell-input em .radio:checked+label:after {
  opacity: 0;
}

.left-content-sell-input em .radio:checked+label:before {
  // border: 1px solid #D1C881;
  border: none;
    background: url(../../../../assets/images/check-round.svg) no-repeat center/16px;
    top: 1.5px;
    left: 0px;
    width: 16px;
    height: 16px;
}

// .left-content-sell-input em .radio:not(checked)+.radio1:after {
//   left: 3.1px;
// }

button.button-place {
  width: 100%;
  height: 40px;
  margin-top: 24px;
  background-color: transparent;
  // border: 1px solid #69aa74;
  border-radius: 5px;
  // color: #69aa74;
  font-size: 14px;
}

button.button-place:hover {
  // border: 1px solid #5bcd6e;
  // color: #5bcd6e;
}

@media screen and (max-width: 600px) {
  .left-content-sell {
    overflow: hidden;
    padding: 17px 20px 0 19px;
  }

  button.button-buy {
    height: 30px;
  }

  button.button-sell {
    height: 30px;
  }


  .left-content-sell-input em .radio:not(checked)+label:after {
    top: 6.5px;
    left: 4.5px;
  }

  .left-content-sell-input em .radio:not(checked)+.radioMarket:after {
    top: 6.4px !important;
    left: 5.4px !important;
  }

}







ul.left-content-tabs {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

ul.left-content-tabs li {
  display: block;
  float: left;
  height: 43px;
  // border-top: 1px solid #e9ecf1;
  text-align: center;
  // color: #a8b5c3;
  font-size: 14px;
  font-weight: 500;
  line-height: 42px;
  cursor: pointer;
}

ul.left-content-tabs li:hover {
  // color: #414a5e;
}

ul.left-content-tabs li.current {
  // color: #414a5e;
  // border-top: 1px solid #FFF;
  // border-right: 1px solid #e9ecf1;
  margin-right: -1px;
  cursor: auto;
}

ul.left-content-tabs li:nth-child(1) {
  width: 39%;
  text-indent: 15px;
}

ul.left-content-tabs li:nth-child(2) {
  width: 29%;
}

ul.left-content-tabs li:nth-child(2).current {
  // border-left: 1px solid #e9ecf1;
  margin-left: -1px;
}

ul.left-content-tabs li:nth-child(3) {
  width: 32%;
  text-indent: -20px;
}

ul.left-content-tabs li:nth-child(3).current {
  border-right: 0;
  margin-right: 0;
  // border-left: 1px solid #e9ecf1;
  margin-left: -1px;
}

.box {
  position: relative;
  z-index: 2;
  display: none;
}

.box.visible {
  display: block;
}

@media screen and (max-width: 600px) {
  ul.left-content-tabs {
    position: absolute;
    z-index: 3;
    bottom: auto;
    top: 0;
    left: auto;
    right: 0;
    margin: 4px 15px 0 0;
  }

  ul.left-content-tabs li {
    display: inline-block;
    float: none;
    border-top: 0;
    padding: 0 4.5px;
    font-weight: 700;
  }

  ul.left-content-tabs li:nth-child(1) {
    width: auto;
    text-indent: 0;
  }

  ul.left-content-tabs li:nth-child(2) {
    width: auto;
  }

  ul.left-content-tabs li:nth-child(2).current {
    border-left: 0;
    margin-left: 0;
  }

  ul.left-content-tabs li:nth-child(3) {
    width: auto;
    text-indent: 0;
  }

  ul.left-content-tabs li.current {
    border-top: 0;
    border-right: 0;
    margin-right: 0;
  }

  ul.left-content-tabs li:nth-child(3).current {
    border-left: 0;
    margin-left: 0;
  }
}

/*---------------------- LEFT end ----------------------*/


/*---------------------- CONTENT LEFT ----------------------*/
#content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 251px;
  right: 0;
  overflow: hidden;

}

@media screen and (max-width: 600px) {
  #content {
    left: 0;
    // overflow: auto;
  }
}


.content-left {
  position: absolute;
  top: 61px;
  bottom: 0;
  left: 0;
  width: 280px;
  // border-left: 1px solid #ffffff07;
  // border-right: 1px solid #ffffff07;
}

.content-left h2 {
  height: 48px;
  margin-bottom: 7px;
  padding: 0 25px;
  // background: #141720;
  // color: #686D7A;
  font-size: 14px;
  font-weight: 700;
  line-height: 50px;
}

.content-left span {
  display: block;
  float: left;
  // color: #4D5364;
  font-size: 11px;
  font-weight: 700;
  position: relative;
}

.content-left-info {
  position: absolute;
  top: 76px;
  bottom: 35px;
  left: 0;
  right: 0;
  overflow: auto;
}

.content-left-info::-webkit-scrollbar {
  width: 0;
}

.content-left-red-item {
  position: relative;
  overflow: hidden;
  height: 21px;
  cursor: pointer;

  span {
    text-overflow: ellipsis;
  }
}

.content-left-red-item em {
  position: absolute;
  left: 0;
  top: 7px;
  display: block;
  height: 7px;
}

.content-left span:nth-child(2) {
  width: calc(43.5% - 25px);
  // font-weight: 400;
}

.content-left span:nth-child(3) {
  width: 33.6%;
}

.content-left span:nth-child(4) {
  width: 17%;
  text-align: center;
}


.content-left-info::-webkit-scrollbar {
  width: 0;
}

.content-left-red-item {
  position: relative;
  overflow: hidden;
  height: 21px;
  cursor: pointer;

  span {
    line-height: 22px;
  }

}

.content-left-red-item span:nth-child(1) {
  // color: white;
  font-weight: 300;
}


.content-left {
  .content-left-red .left-red span:nth-child(1) {
    // color: #FF4848;

    b {
      // color: #A42A2A;
      position: relative;
    }
  }

  .left-red em {
    // background: #FF4848;
  }

  .content-left-red .left-green span:nth-child(1) {
    // color: #B5FF79;

    b {
      // color: #48A43E;
      position: relative;
    }
  }

  .left-green em {
    // background: #B5FF79;
  }

}

.content-left-red-item em {
  position: absolute;
  left: 0;
  top: 7px;
  display: block;
  height: 7px;

}

.content-left-red-item:nth-child(2n-1) {
  // background: #181B24;
}

.content-left-red-item span:nth-child(0) {
  color: white;
}

.content-left-red-item span i {
  font-style: normal;
}

.content-left-red-item span b {
  font-weight: 400;
}

.content-left-red-item span:nth-child(1) {
  width: calc(43.5% - 25px);
  padding-left: 25px;
}



.content-left-red-item span:nth-child(3) {
  width: 17%;
  text-align: center;
}




















.content-left-sticky {
  // position: sticky;
  position: initial;
  z-index: 2;
  top: 0;
  bottom: 0;
  height: 46px;
  padding: 9px 30px 0 70px;
  background: transparent;
  // border-top: 2px solid rgba(255, 255, 255, 0.03);
  // border-bottom: 2px solid rgba(255, 255, 255, 0.03);
  font-size: 11px;
  font-weight: 500;
  line-height: 24px;
  box-sizing: border-box;

  .content-left-sticky-green {
    // color: #48A43E;
    font-size: 14px;
    margin-right: 26px;
    position: relative;
  }

  .content-left-sticky-red {
    // color: #A42A2A;
    font-size: 14px;
    margin-right: 26px;
    position: relative;
  }

  .content-left-sticky-red::after {
    position: absolute;
    content: '';
    width: 7px;
    height: 9px;
    // background: url(../../../../assets/images/red-arr.svg)no-repeat center;
    top: 6px;
    right: -15px;
  }

  .content-left-sticky-green::after {
    position: absolute;
    position: absolute;
    content: '';
    width: 7px;
    height: 9px;
    // background: url(../../../../assets/images/green-arr.svg)no-repeat center;
    top: 6px;
    right: -15px;
  }

  .content-left-sticky-text {
    // color: #686D7A;
    font-size: 14px;
  }
}







// .content-left-bottom {
//   position: absolute;
//   bottom: 6px;
//   left: 0;
//   right: 10px;
//   height: 25px;
//   margin: 1px 2px 2px 13px;
//   padding: 0 0px 0 12px;
//   background: white;
//   border: 1px solid #e9ecf1;
//   border-radius: 3px;
//   color: #414a5e;
//   font-size: 11px;
//   font-weight: 500;
//   line-height: 24px;
// }

// .content-left-bottom b {
//   display: block;
//   float: right;
//   font-weight: 500;
//   font-size: 12px;
// }

// .content-left-bottom b button {
//   position: relative;
//   top: 3px;
//   background: #FFF;
//   width: 16px;
//   height: 16px;
//   margin: 0 8px 0 8px;
//   border: 1px solid #e9ecf1;
//   border-radius: 5px;
//   color: #a2afbe;
//   background: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSLQodC70L7QuV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgdmlld0JveD0iMCAwIDEzIDEzIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMyAxMzsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO2ZpbGw6I0EyQUZCRTt9DQo8L3N0eWxlPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTTAsNWgxM3YzSDBWNXoiLz4NCjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik01LDBoM3YxM0g1VjB6Ii8+DQo8L3N2Zz4=) no-repeat center;
//   background-size: 6px auto;
// }

// .content-left-bottom b button:nth-child(1) {
//   background: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSLQodC70L7QuV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgdmlld0JveD0iMCAwIDEzIDEzIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMyAxMzsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO2ZpbGw6I0EyQUZCRTt9DQo8L3N0eWxlPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTTAsNWgxM3YzSDBWNXoiLz4NCjwvc3ZnPg==) no-repeat center;
//   background-size: 6px auto;
// }




// .content-left-bottom {
//   position: absolute;
//   bottom: 6px;
//   left: 0;
//   right: 10px;
//   height: 25px;
//   margin: 1px 2px 2px 13px;
//   padding: 0 0px 0 12px;
//   background: white;
//   border: 1px solid #e9ecf1;
//   border-radius: 3px;
//   color: #414a5e;
//   font-size: 11px;
//   font-weight: 500;
//   line-height: 24px;
// }

// .content-left-bottom b {
//   display: block;
//   float: right;
//   font-weight: 500;
//   font-size: 12px;
// }

// .content-left-bottom b button {
//   position: relative;
//   top: 3px;
//   background: #FFF;
//   width: 16px;
//   height: 16px;
//   margin: 0 8px 0 8px;
//   border: 1px solid #e9ecf1;
//   border-radius: 5px;
//   color: #a2afbe;
//   background: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSLQodC70L7QuV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgdmlld0JveD0iMCAwIDEzIDEzIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMyAxMzsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO2ZpbGw6I0EyQUZCRTt9DQo8L3N0eWxlPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTTAsNWgxM3YzSDBWNXoiLz4NCjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik01LDBoM3YxM0g1VjB6Ii8+DQo8L3N2Zz4=) no-repeat center;
//   background-size: 6px auto;
// }

// .content-left-bottom b button:nth-child(1) {
//   background: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSLQodC70L7QuV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgdmlld0JveD0iMCAwIDEzIDEzIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMyAxMzsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO2ZpbGw6I0EyQUZCRTt9DQo8L3N0eWxlPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTTAsNWgxM3YzSDBWNXoiLz4NCjwvc3ZnPg==) no-repeat center;
//   background-size: 6px auto;
// }


@media screen and (max-width: 1280px) {
  .content-left {
    bottom: 52px;

    right: 0;
    width: auto;
  }
}

@media screen and (max-width: 600px) {
  .content-left {
    top: 131px;

    bottom: 52px;
    right: 0;
    width: auto;
  }
}

@media screen and (max-width: 1280px) {
  .content-left {
    bottom: 52px;
    right: 0;
    width: auto;
  }
}

@media screen and (max-width: 600px) {
  .content-left {
    // top: 131px;
    top: 105px;
    bottom: 52px;
    right: 0;
    width: auto;
  }
}

@media screen and (max-width: 1410px) {
  .top-last-price {
    padding: 14px 0 0 15px;
  }

  .top-last-price-item {
    padding-right: 18px;
  }
}

@media screen and (max-width: 1330px) {
  .top-last-price-item {
    font-size: 11px;
  }
}

/*---------------------- CONTENT LEFT end ----------------------*/





/*---------------------- CONTENT FIGHT ----------------------*/
.content-right {
  position: absolute;
  top: 61px;
  bottom: 0;
  right: 0;
  width: 280px;
  // border-left: 1px solid #ffffff07;
}

.content-right h2 {
  height: 48px;
  margin-bottom: 7px;
  padding: 0 26px;
  // background: #141720;
  // color: #686D7A;
  font-size: 14px;
  font-weight: 700;
  line-height: 50px;
}

.content-right::before {
  content: "";
  position: absolute;
  width: 1px;
  // background: #ffffff07;
  height: 60px;
  top: -61px;
  left: -1px;
  z-index: 99999;
}

.content-right span {
  display: block;
  float: left;
  // color: #4D5364;
  font-size: 11px;
  font-weight: 700;
}

.content-right span:nth-child(2) {
  width: calc(38.8% - 26px);
  padding-left: 26px;
}

.content-right span:nth-child(3) {
  width: 33.6%;
}

.content-right span:nth-child(4) {
  width: 22%;
}

.content-right-info {
  position: absolute;
  top: 76px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  height: 100%;
}

.content-right-info::-webkit-scrollbar {
  width: 0;
}





.content-right-item {
  position: relative;
  overflow: hidden;
  height: 21px;
}

.content-right-item:nth-child(2n-1) {
  // background: #181B24;
}

.content-right-item span {
  display: block;
  height: 21px;
  float: left;
  // color: #fff;
  font-size: 11px;
  line-height: 22px;
  font-weight: 400;
}

.content-right-item span i {
  font-style: normal;
  // color: #fff;
}

.content-right-item span b {
  font-weight: 400;
  // color: #fff;
}

.content-right-item span:nth-child(1) {
  width: calc(38.8% - 26px);
  padding-left: 26px;
}

.content-right-item span:nth-child(2) {
  width: 33.5%;
  padding: 0;
  font-weight: 700;
}

.content-right-item span:nth-child(2) b {
  font-weight: 700;
}

.content-right-item span:nth-child(2) img {
  width: 8px;
  height: 8px;
  margin-left: 6px;
}

.content-right-item span:nth-child(3) {
  width: 22%;
  color: #4D5364;
}

// .content-right-item span.history-green {
//   color: #B5FF79;
// }

// .content-right-item span.history-green b {
//   color: #48A43E;
// }

// .content-right-item span.history-red {
//   color: #ff4848;
// }

// .content-right-item span.history-red b {
//   color: rgb(164, 42, 42);
// }

@media screen and (max-width: 1280px) {
  .content-right {
    left: 0;
    bottom: 52px;
    width: auto;
  }
}

@media screen and (max-width: 600px) {
  .content-right {
    top: 105px;
    left: 0;
    bottom: 52px;
    width: auto;
  }
}


/*---------------------- CONTENT FIGHT end ----------------------*/


/*---------------------- CONTENT CENTER ----------------------*/
.content-center {
  position: absolute;
  left: 286px;
  right: 286px;
  top: 61px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

#price-chart-box {
  min-width: 1050px;
  overflow: auto;
}

.price-box {
  overflow: auto;
}

.content-center::-webkit-scrollbar {
  width: 0;
}

.content-center-chart {
  position: relative;
  padding-bottom: 7px;
}


.content-center h2 {
  height: 43px;
  padding: 0 0 0 16px;
  // color: #686D7A;
  font-size: 14px;
  font-weight: 700;
  line-height: 50px;
}

.chart-box {
  height: 426px;
  padding: 6px 14px 0 14px;
}

// #depth-chart-box1{
//   min-width: 1050px;
//   overflow-x: auto;
// }

ul.content-center-tabs {
  position: absolute;
  z-index: 3;
  top: 12px;
  right: 17px;

  button {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 10px;
    border-radius: 3px;
  }
}












.content-center-orders {
  position: relative;
}

ul.content-orders-tabs {
  position: absolute;
  z-index: 3;
  top: 12px;
  right: 17px;
  height: 23px;
  // border: 1px solid #e9ecf1;
  border-radius: 5px;
}

ul.content-orders-tabs li {
  display: inline-block;
  height: 23px;
  padding: 0 8px 0 9px;
  // color: #a9b5c3;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

ul.content-orders-tabs li:hover {
  // color: #414a5e;
}

ul.content-orders-tabs li:nth-child(1) {
  // border-right: 1px solid #e9ecf1;
  padding: 0 11px 0 10px;
}

ul.content-orders-tabs li.current {
  // color: #414a5e;
  cursor: auto;
}





.content-center-orders-nav {
  position: sticky;
  bottom: 0px;
  left: 0;
  height: 35px;
  margin: 10px 0 0 0;
  padding: 4px 0 0 18px;
  // background: #FFF;
  // color: #98a7b7;
  font-size: 12px;
  font-weight: 400;
}

.content-center-orders-nav a {
  text-decoration: none;
  // color: #959ba9;
}



.content-center-orders-nav b {
  display: inline-block;
  padding: 0 4px 0 6px;
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
}

.content-center-orders-nav b span {
  height: 22px;
  display: inline-block;
  margin: 0 2px;
  padding: 0 4.5px;
  // border: 1px solid #e9ecf1;
  border-radius: 2px;
  // color: #5a6273;
  font-weight: 500;
}

.content-center-orders-nav b a {
  height: 22px;
  display: inline-block;
  margin: 0 2px;
  padding: 0 4.5px;
  border-radius: 2px;
  border: 1px solid transparent;
}









.content-orders-title {
  overflow: hidden;
  padding: 12px 0 10px 0;
  // color: #4D5364;
  font-size: 11px;
  font-weight: 700;
}

.content-orders-title span {
  display: block;
  float: left;
}

.content-orders-title span:nth-child(1) {
  width: calc(22.2% - 18px);
  padding-left: 18px;
}

.content-orders-title span:nth-child(2) {
  width: 25.6%;
}

.content-orders-title span:nth-child(3) {
  width: 24.6%;
}

.content-orders-title span:nth-child(4) {
  width: 19.4%;
}

.content-orders-title span:nth-child(5) {
  width: 8.2%;
}






.content-orders-item {
  overflow: hidden;
  height: 25px;
  // color: #fff;
  font-size: 11px;
  font-weight: 400;
}

.content-orders-item:nth-child(2n) {
  // background: #181B24;
}

.content-orders-item span {
  display: block;
  float: left;
  height: 25px;
  line-height: 26px;
}

.content-orders-item span:nth-child(1) {
  width: calc(22.2% - 18px);
  padding-left: 18px;
}

.content-orders-item span:nth-child(2) {
  width: 25.6%;
}

.content-orders-item span:nth-child(3) {
  width: 24.5%;

  font-weight: 700;
}

.content-orders-item span:nth-child(4) {
  width: 18.8%;
}

.content-orders-item span:nth-child(5) {
  width: 8.2%;
}

.content-orders-item span i {
  font-style: normal;
  display: inline-block;
  height: 15px;
  padding-left: 16px;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 16px;
}

@media screen and (max-width: 1280px) {
  .content-center {
    left: 0;
    right: 0;
    bottom: 52px;
    display: none;
  }

  .content-center-visible {
    display: block;

  }
}

@media screen and (max-width: 840px) {
  .content-orders-title span:nth-child(1) {
    width: calc(32.2% - 18px);
  }

  .content-orders-title span:nth-child(2) {
    width: 17.6%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .content-orders-title span:nth-child(3) {
    width: 20.5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .content-orders-title span:nth-child(4) {
    width: 18.4%;
  }

  .content-orders-title span:nth-child(5) {
    width: 10.8%;
  }

  .content-orders-item span:nth-child(1) {
    width: calc(34.2% - 18px);
  }

  .content-orders-item span:nth-child(2) {
    width: 15.6%;
  }

  .content-orders-item span:nth-child(3) {
    width: 20.5%;
  }

  .content-orders-item span:nth-child(4) {
    width: 18.4%;
  }

  .content-orders-item span:nth-child(5) {
    width: 10.8%;
  }
}

@media screen and (max-width: 600px) {
  .content-center {
    top: 105px;
    left: 0;
    right: 0;
    bottom: 52px;

    h2 {
      padding-left: 27px;
    }
  }

  ul.content-center-tabs {
    right: 12px;
  }



  ul.content-orders-tabs {
    right: 12px;
  }

  ul.content-orders-tabs li {
    padding: 0 8px;
  }

  ul.content-orders-tabs li:nth-child(1) {
    padding: 0 8px;
  }
}



/*---------------------- CONTENT CENTER end ----------------------*/




/*---------------------- SOME  ----------------------*/

.responcive-tabs {
  display: none;
  position: fixed;
}

.box-responcive.visible,
.box-responcive {
  display: block;
}

@media screen and (max-width: 1280px) {
  .responcive-tabs {
    overflow: hidden;
    // position: fixed;
    position: absolute;
    z-index: 6;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    height: 51px;
    // background: #141720;
    // border-top: 1px solid rgba(255, 255, 255, 0.03);
    white-space: nowrap;
  }

  .content-left-sticky {
    position: initial !important;

  }

  .content-left-red-item span:nth-child(3) {
    width: auto;
  }

  .responcive-tabs li {
    display: inline-block;
    height: 51px;
    margin-right: 17px;
    font-size: 12px;
    text-transform: uppercase;
    // color: #686D7A;
    font-weight: 400;
    cursor: pointer;
    line-height: 50px;
  }

  .responcive-tabs li:hover {
    // color: #D1C881;
  }

  .responcive-tabs li:active {
    // color:  #5E5A44;
  }

  .responcive-tabs li.current1 {
    display: none;
  }

  .responcive-tabs li:nth-child(2) {
    margin-left: 21px;
  }

  .responcive-tabs li.active,
  .responcive-tabs li.active {
    // color: #D1C881;
    cursor: auto;
  }

  .box-responcive {
    display: none;
    z-index: 0;
  }

  .box-responcive.visible {
    display: block;
  }

  .box-responcive.visible1 {
    display: inline-block !important;
  }
}

@media screen and (max-width: 600px) {
  .depth_chart_control {
    top: 55px;
  }
}

@media screen and (max-width: 1280px) {
  .depth_chart_control {
    top: 55px;
  }
}

@media screen and (max-width: 600px) {
  .responcive-tabs {
    left: 0;
  }

  .responcive-tabs li.current {
    cursor: pointer;
  }

  .responcive-tabs li.current1 {
    display: inline-block;
  }

  .responcive-tabs li:nth-child(1) {
    display: inline-block;
    margin-left: 21px;
  }

  .responcive-tabs li:nth-child(2) {
    margin-left: 0;
  }

  #top {
    z-index: 1;
    width: 100%;
  }

  #left.visible {
    display: block;
  }

  .top-currency {
    border: none;
  }

  #left {
    border: none;
    width: 100% !important;
    display: none;
  }

}


.content-left-red-item.item-active,
.content-left-red-item.item-active:nth-child(2n-1),
.content-left-red-item.item-active:nth-child(2n),
.content-right-item.item-active {
  // background: #ecf1f6;
}







#content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 251px;
  right: 0;
}

@media screen and (max-width: 600px) {
  #content {
    left: 0;
  }
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


.transparent-btn {
  width: 219px;
  margin-top: 30px;
  height: 36px;
  border-radius: 4px;

}

.main-btn {
  width: 219px;
  margin: 0;
  height: 36px;
  border-radius: 4px;
}

@media screen and (max-width: 650px) {
  .chart-box {
    padding-top: 50px;
  }

  ul.content-center-tabs {
    right: auto;
    left: 27px;
    top: 40px;
  }

  .depth_chart_control {
    top: 90px;
  }
}

@media screen and (max-width: 600px) {
  .left-content-buttons {
    padding: 26px 18px 0px 18px;
  }

  .transparent-btn,
  .main-btn {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  ul.content-center-tabs {
    right: auto;
    left: 18px;
    top: 40px;
  }

  .depth_chart_control {
    top: 90px;
  }
}

.percents {
  display: flex;
  justify-content: space-between;
}

.percent {
  display: flex;
  width: 50px;
  height: 36px;
  color: #fff;
  text-align: center;
  // border: 1px solid #ffffff33;
  border-radius: 4px;
  background: transparent;
  background-size: 7px auto;
  box-sizing: border-box;
  cursor: pointer;
  span{
    display: flex;
    margin: auto;
  }
}



.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  -webkit-transition-property: -webkit-transform, left, top;
  -webkit-transition-duration: 0s;
  -webkit-transform: translate3d(0px, 0, 0);
  -webkit-transition-timing-function: ease;

  -moz-transition-property: -moz-transform, left, top;
  -moz-transition-duration: 0s;
  -moz-transform: translate3d(0px, 0, 0);
  -moz-transition-timing-function: ease;

  -o-transition-property: -o-transform, left, top;
  -o-transition-duration: 0s;
  -o-transform: translate3d(0px, 0, 0);
  -o-transition-timing-function: ease;
  -o-transform: translate(0px, 0px);

  -ms-transition-property: -ms-transform, left, top;
  -ms-transition-duration: 0s;
  -ms-transform: translate3d(0px, 0, 0);
  -ms-transition-timing-function: ease;

  transition-property: transform, left, top;
  transition-duration: 0s;
  transform: translate3d(0px, 0, 0);
  transition-timing-function: ease;

  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.swiper-free-mode>.swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-slide {
  float: left;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
}

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
}

/* ===============================================================
Your custom styles, here you need to specify container's and slide's
sizes, pagination, etc.
================================================================*/
.swiper-container {
  /* Specify Swiper's Size: */

  /*width:200px;
	height: 100px;*/
}

.swiper-slide {
  /* Specify Slides's Size: */

  /*width: 100%;
	height: 100%;*/
}

.swiper-slide-active {
  /* Specific active slide styling: */

}

.swiper-slide-visible {
  /* Specific visible slide styling: */

}

/* ===============================================================
Pagination Styles
================================================================*/
.swiper-pagination-switch {
  /* Stylize pagination button: */

}

.swiper-active-switch {
  /* Specific active button style: */

}

.swiper-visible-switch {
  /* Specific visible button style: */

}

/* 
:host ::ng-deep .highcharts-series-0 .highcharts-point {
  fill: #ff0000;
  stroke: #0000ff;
}
:host ::ng-deep .highcharts-series-1 .highcharts-point {
  fill: #ff0000;
  stroke: #0000ff;
} */

// Price chart
// dark
.dark :host ::ng-deep .chart-box#price-chart-box .highcharts-background {
  fill: #141720;
}

.dark :host ::ng-deep .chart-box#price-chart-box .highcharts-grid-line {
  stroke: rgba(255, 255, 255, 0.03);
}

.dark :host ::ng-deep .chart-box#price-chart-box .highcharts-point.highcharts-color-0.highcharts-point-down {
  fill: #DC4E45;
  stroke: #DC4E45;
}

.dark :host ::ng-deep .chart-box#price-chart-box .highcharts-point.highcharts-color-0.highcharts-point-up {
  fill: #7FDB6F;
  stroke: #7FDB6F;
}

.dark :host ::ng-deep .chart-box#price-chart-box .highcharts-point.highcharts-color-1 {
  fill: rgba(255, 255, 255, 0.03);
  stroke: rgba(255, 255, 255, 0.03);
}

// light
.light :host ::ng-deep .chart-box#price-chart-box .highcharts-background {
  fill: #fff;
}

.light :host ::ng-deep .chart-box#price-chart-box .highcharts-grid-line {
  stroke: rgba(255, 255, 255, 0.03);
}

.light :host ::ng-deep .chart-box#price-chart-box .highcharts-point.highcharts-color-0.highcharts-point-down {
  fill: #DE246E;
  stroke: #DF8CA7;
}

.light :host ::ng-deep .chart-box#price-chart-box .highcharts-point.highcharts-color-0.highcharts-point-up {
  fill: #77A542;
  stroke: #BAD29A;
}

.light :host ::ng-deep .chart-box#price-chart-box .highcharts-point.highcharts-color-1 {
  fill: rgba(0, 0, 0, 0.03);
  stroke: rgba(0, 0, 0, 0.03);
}

// Depth chart
// dark
.dark :host ::ng-deep .chart-box#depth-chart-box1 .highcharts-background {
  fill: #141720;
}

.dark :host ::ng-deep .chart-box#depth-chart-box1 .highcharts-series-0 .highcharts-graph {
  stroke: #DC4E45;
}

.dark :host ::ng-deep .chart-box#depth-chart-box1 .highcharts-series-0 .highcharts-area {
  fill: rgba(220, 78, 69, 0.4);
}

.dark :host ::ng-deep .chart-box#depth-chart-box1 .highcharts-series-1 .highcharts-graph {
  stroke: #7FDB6F;
}

.dark :host ::ng-deep .chart-box#depth-chart-box1 .highcharts-series-1 .highcharts-area {
  fill: rgba(127, 219, 111, 0.4);
}

.dark :host ::ng-deep .chart-box#depth-chart-box1 .highcharts-grid-line {
  stroke: #fff;
  opacity: 0.03;
}

.dark :host ::ng-deep .chart-box#depth-chart-box1 .highcharts-axis-line {
  stroke: #fff;
  opacity: 0.03;
}

.dark :host ::ng-deep .chart-box#depth-chart-box1 .highcharts-tick {
  stroke: #fff;
  opacity: 0.03;
}

// light
.light :host ::ng-deep .chart-box#depth-chart-box1 .highcharts-background {
  fill: #fff;
}

.light :host ::ng-deep .chart-box#depth-chart-box1 .highcharts-series-0 .highcharts-graph {
  stroke: #DC4E45;
}

.light :host ::ng-deep .chart-box#depth-chart-box1 .highcharts-series-0 .highcharts-area {
  fill: rgba(220, 78, 69, 0.4);
}

.light :host ::ng-deep .chart-box#depth-chart-box1 .highcharts-series-1 .highcharts-graph {
  stroke: #7FDB6F;
}

.light :host ::ng-deep .chart-box#depth-chart-box1 .highcharts-series-1 .highcharts-area {
  fill: rgba(127, 219, 111, 0.4);
}

.light :host ::ng-deep .chart-box#depth-chart-box1 .highcharts-grid-line {
  stroke: #000;
  opacity: 0.03;
}

.light :host ::ng-deep .chart-box#depth-chart-box1 .highcharts-axis-line {
  stroke: #000;
  opacity: 0.03;
}

.light :host ::ng-deep .chart-box#depth-chart-box1 .highcharts-tick {
  stroke: #000;
  opacity: 0.03;
}

.left-content-sell-input input:focus~b {
  bottom: 1px;
  right: 1px;
  height: 37.5px;
  width: 51px;
  line-height: 39px;
}


