.fl-col{
    display: flex;
    flex-direction: column;
    span{
        display: block;
        margin-bottom: 20px;
    }
}
.fl-row{
    display: flex;
    flex-direction: row;
}
input{
    height: 36px;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 10px 13px;
    box-sizing: border-box;
}

.w-171{
    width: 171px;
}
.w-271{
    width: 271px;
}
.mr-28{
    margin-right: 28px;
}
.main-btn{
    width: 142px;
    margin: 0;
    margin-top: 29px;
}
.transparent-btn{
    width: 219px;
    margin-top: 25px;
}
span{
    display: block;
}
.gold-text{
    display: flex;
    font-size: 12px;
    font-weight: 400;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 13px;
    margin-left: 22px;
}
.gold-text2{
    display: block;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
}
.gold-text-img{
    position: absolute;
    width: 12.5px;
    height: 12.5px;
    top: 4px;
    left: -22px;
}
.profile-right-title{
    margin-bottom: 17px;
}
.profile-right{
    .mw-250{
        max-width: 250px;
        width: 100%;
    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}


@media screen and (max-width: 660px) {
    .fl-row{
        flex-direction: column;
    }
    .fl-col{
        margin-bottom: 13px;
        span{
            margin-bottom: 13px;
        }
        input{
            width: 100%;
        }
    }
  }
  @media screen and (max-width: 400px) {
    .main-btn{
        width: 100%;
    }
  }
  @media screen and (max-width: 600px) {
    .profile-right{
        margin: 30px 0 13px 0;
        padding: 13px;
    }
    .profile-right-title{
        padding: 0;
        margin-bottom: 13px;
    }
    .profile-right-progress{
        margin-bottom: 13px;
    }
    .transparent-btn{
        margin-top: 13px;
    }
  }
  


  ///////////////////////  calendar dark  /////////////////////////
  // //// new-calendar
/deep/.jqx-fill-state-focus {
    border-color: #191C25;
  }
  
  /deep/.jqx-widget-content {
    font-size: 14px;
    background: #191C25;
  
    .innerCalendarjqxWidget15d3e3466571 {
      border-color: #191C25;
    }
  
    .jqx-fill-state-focus {
      border-color: #191C25;
    }
  
    table {
      tbody {
        background: transparent;
      }
    }
  }
  /deep/.jqx-calendar td{
    color: #BDB9AF;
  }
  /deep/.jqx-calendar-column-cell {
    color: #BDB9AF;
  }
  /deep/.jqx-calendar-cell-othermonth{
    color: #525250 !important;
  }

  /deep/.jqx-fill-state-pressed {
    background: #14171E;
    border: 1px solid #D4C069;
    color: #BDB9AF;
    border-radius: 50%;
  }
  
  /deep/.jqx-calendar-cell-today {
    background: transparent;
    border: 1px solid #D4C069;
    color: #D4C069!important;
    border-radius: 50%;
  }
  
  /deep/.jqx-fill-state-hover {
    background: #20242F;
    border: none;
    color: #BDB9AF!important;
    border-radius: 50%;
  }
  
  /deep/.jqx-input-content {
    color:  #fff!important;
    padding: 0!important;
    padding-left: 14px !important;
    font-family: 'Helvetica Neue';
  }
  /deep/.jqx-widget-content{
    width: 171px!important;
    
  }
  /deep/.jqx-calendar{
    width: 224px!important;
    height: 238px!important;
    .jqx-widget-content{
      width: 218px!important;
    }
  }
  /deep/jqxdatetimeinput .jqx-widget-content{
    height: 31px!important;
    color: #FFFFFF;
  }
  
  /deep/.jqx-action-button{
    border-color: transparent!important;
       background: transparent!important; 
    //   border-radius: 0 !important;
    border: none!important;
    border-left: none!important;
      left: 145px!important;
  }
  /deep/.jqx-action-button:hover{
    border: none!important;
  }
  /deep/.jqx-icon-calendar, .jqx-icon-calendar-hover, .jqx-icon-calendar-pressed{
    background-image: url(../../../../assets/images/calendar.svg);
    background-size: 15px;
  }
  
  /deep/jqxdatetimeinput {
    font-size: 14px;
  
    .jqx-widget-content {
      font-size: 14px;
  
    }
  
    .innerCalendarjqxWidget15d3e3466571 {
      border-color: #EFEFEF;
    }
  
    .jqx-fill-state-focus {
      border-color: #191C25;
    }
  
    .jqx-calendar .jqx-widget-header {
      background: transparent;
    }
  
    .jqx-fill-state-pressed {
      border-color: transparent !important;
      background: #2A2B2B !important;
      border-radius: 0 !important;
    }
    
  }
  /deep/jqxdatetimeinput .jqx-fill-state-pressed{
    background: transparent !important;
  }
  /deep/.jqx-calendar .jqx-widget-header {
    background: transparent;
  }
  
  /deep/.jqx-icon-arrow-right {
    background: url(../../../../assets/images/calendar-r-dark.svg)no-repeat center;
  }
  
  /deep/.jqx-icon-arrow-left {
    background: url(../../../../assets/images/calendar-l-dark.svg)no-repeat center;
  }
  
  /deep/.jqx-calendar-cell-year, /deep/.jqx-calendar-cell-decade {
     height: 53px !important;
    width: 53px !important;
  
  }
  /deep/.jqx-calendar-cell-month {
    height: 30px !important;
   width: 25px !important;
  
  }
  
  /deep/.jqx-calendar-view {
    height: 140px !important;
  }
  
  /deep/.jqx-fill-state-hover {
    background: #20242F;
    border: none;
    border-radius: 50%;
  }
  /deep/.jqx-widget-content{
    border-color:#191C25;
  }