<div class="profile-narrow prof">
    <div class="profile-right">
        <div class="profile-right-title">Withdrawal limit</div>
        <div class="profile-right-content">
            <span class="gold-text">
                <div class="gold-text-img"></div>
                <span class="gold-text2">70 BTC </span>
                &nbsp;&nbsp;/&nbsp;&nbsp;100 BTC</span>
            <div class="profile-right-progress"><span style="width: 73%;"></span></div>
        </div>
        <span class="mw-250">Sumbit your basic information to increase your limits.</span>
        <button class="transparent-btn">INCREASE LIMITS</button>
    </div>
    
    <div class="profile-left">
        <div class="profile-title">
            <h2>Basic Information</h2>
        </div>
        <div class="profile-item fl-row">
            <div class="fl-col">
                <span>First name</span>
                <input class="w-171 mr-28" type="text" placeholder="Jackie">
            </div>
            <div class="fl-col">
                <span>Last name</span>
                <input class="w-171 mr-28" type="text" placeholder="Chan">
            </div>
            
            <div class="fl-col calendar">
                <span>Birth date</span>
                <jqxDateTimeInput 
                [width]="171" [height]="36"
                (onValueChanged)="setUserBirthDate($event.args.date)">
              </jqxDateTimeInput> 
                <!-- <input class="w-171" type="text" placeholder="30.03.1993"> -->
            </div>
        </div>
        <div class="profile-item fl-row">
            <div class="fl-col">
                <span>Email</span>
                <input class="w-271 mr-28" type="email" placeholder="administrator@softsolutions.com">
            </div>
            <div class="fl-col">
                <span>Phone number</span>
                <input class="w-271" type="number" placeholder="+1 492 82 39 667">
            </div>
        </div>
        <div class="profile-item fl-row">
            <div class="fl-col">
                <span>Country</span>
                <input class="w-171 mr-28" type="text" placeholder="United States">
            </div>
            <div class="fl-col">
                <span>City</span>
                <input class="w-171 mr-28" type="text" placeholder="New york">
            </div>
            <div class="fl-col">
                <span>Address</span>
                <input class="w-171" type="text" placeholder="12 Wall Street 227">
            </div>
        </div>
       <button class="main-btn">SAVE</button>
      
    </div>
</div>
 