
.fl-col{
    display: flex;
    flex-direction: column;
    span{
        display: block;
        margin-bottom: 20px;
    }
}
.fl-row{
    display: flex;
    flex-direction: row;
}
input{
    height: 36px;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 10px 13px;
    box-sizing: border-box;
}

.w-171{
    width: 171px;
}
.w-271{
    width: 271px;
}
.mr-28{
    margin-right: 28px;
}
.main-btn{
    width: 142px;
    margin: 0;
    margin-top: 29px;
    height: 48px;
}
.transparent-btn{
    width: 219px;
    margin-top: 25px;
}
span{
    display: block;
}
.gold-text{
    display: flex;
    font-size: 12px;
    font-weight: 400;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 13px;
    margin-left: 22px;
}
.gold-text2{
    display: block;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
}
.gold-text-img{
    position: absolute;
    width: 12.5px;
    height: 12.5px;
    top: 4px;
    left: -22px;
}
.profile-right-title{
    margin-bottom: 17px;
}
.profile-right{
    .mw-250{
        max-width: 250px;
        width: 100%;
    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}


@media screen and (max-width: 660px) {
    .fl-row{
        flex-direction: column;
    }
    .fl-col{
        margin-bottom: 13px;
        span{
            margin-bottom: 13px;
        }
        input{
            width: 100%;
        }
    }
  }
  @media screen and (max-width: 400px) {
    .main-btn{
        width: 100%;
    }
  }
  @media screen and (max-width: 600px) {
    .profile-right{
        margin: 30px 0 13px 0;
        padding: 13px;
    }
    .profile-right-title{
        padding: 0;
        margin-bottom: 13px;
    }
    .profile-right-progress{
        margin-bottom: 13px;
    }
    .transparent-btn{
        margin-top: 13px;
    }
  }
  


 

.mat-form-field-underline{
    display: none!important;
}


.btnTexts{
    position: relative;
    .some-answer{
        position: absolute;
        width: fit-content;
        top: 40px;
        left: 200px;
        color: #D1C174;
        transition: 1.5s;
        opacity: 0;
        img{
            margin-right: 11px;
        }
    }
    .some-answer-open{
        opacity: 1;
    }
    // .some-answer:before{
    //     content: "";
    //     background: url(../../../../assets/images/ready.svg)no-repeat center;
    //     width: 15px;
    //     height: 15px;
    // }

}

.prof {
    .main-btn-hov{
        overflow: hidden;
        padding-top: 15px !important;
        border-radius: 4px;
        font-size: 16px;
        font-weight: 900;
        transition: none;
        overflow: hidden;
    }
    .main-btn-hov::after {
        content: 'SAVE';
        height: 48px;
        display: block;
        transition: .3s;
        top: -32px;
        padding-top: 14.5px;
        box-sizing: border-box;
        border-radius: 4px;
    }
    .error .error-text{
        top: 35px;
    }
    .error::before{
        display: none;
    }
    .error {
        .error-text {
          right: 0px;
          top: -25px;
          max-width: 233px;
          min-height: 47px;
        }
    
        .error-text:after {
          border: 9px solid transparent;
          border-top: 10px solid #0E111A;
          left: calc(50% - 10px);
          top: 46px;
          bottom: -1px;
        }
      }
}
.error{
    // .round-list{
    //     position: relative;
    //         .error-text{
    //             top: -67px!important;
    //         }
    //     }
}
// .round-list::after{
//     content: '';
//     position: absolute;
//     width: 6px;
//     height: 5px;
//     background: url(../../../../assets/images/dropdown-arrow.svg)no-repeat center;
//     top: 16px;
//     right: 11px;
// }
.list-dropdown{
    position: absolute;
    width: 171px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; 
    top: 78px;
    z-index: 1;
    border-top: 0;
    padding-top: 3px;
    box-sizing: border-box;
    max-height: 120px;
    overflow: scroll;
}
.list-dropdown-item{
    height: 32px;
  }


  @media screen and (max-width: 660px) {
    .list-dropdown{
        width: 100%; 
        top: 72px;
    }
    .calendar{
        margin: 0;
    }
    /deep/.mat-form-field-appearance-legacy .mat-form-field-wrapper{
        padding: 0!important;
        margin: 0!important;
    }
    /deep/.mat-form-field-suffix{
        right: 0!important;
        position: absolute!important;
        top: 9px!important;
    }
  }