<div class="history-narrow withdrawal section" [ngClass]="{ 'visible': isVisible, 'hidden': !isVisible }" *ngIf="wallet">
  <div class="balance-title">
    <label for="back">
      <h2>
        <button class="back-btn" id="back" (click)="back()"></button>
        <b>Withdrawal</b>
      </h2>
    </label>
  </div>
  <div class="profile-left">

      <div class="balance-table" >
          <div class="balance-table-title">
              <span>Coin</span>
              <span>Balance</span>
          </div>
  
          <div class="balance-table-item" >
              <span before="Coin">
                  <img src="{{ wallet.coin.icon.url }}" alt="">
                  <b>{{ wallet.coin.shortName }} – {{ wallet.coin.name }}</b>
              </span>
              <span before="Balance">{{ viewBalance }}</span>
          </div>
      </div>
      <div class="deposit-information">
        <span>– Once you have submitted your withdrawal request, we will send a confirmation email </span>
        <span>– Minimum withdrawal <a>0.0001 {{ wallet.coin.shortName }}</a></span>
      </div>

      <form [formGroup]="withdrawalForm" *ngIf="wallet" (ngSubmit)="submitWithdrawalForm(withdrawalForm)">
          <div class="balance-table balance-table-form" >
              <div class="balance-table-title">
                  <span *ngIf="wallet.coin.shortName == 'BTC' || wallet.coin.shortName == 'ETH'">{{ wallet.coin.shortName }} Withdrawal Address</span>
                  <span *ngIf="wallet.coin.shortName == 'EOS' || wallet.coin.shortName == 'GIO'">EOS Account Name</span>
                  <span>Amount</span>
              </div>
      
              <div class="balance-table-item" >
                <span class="balance-inp error" [ngClass]="{
                  'error-open' : withdrawalForm.controls.address.hasError('required') && withdrawalForm.controls.address.touched }">
                  <input type="text" class="walet-inp" formControlName="address" required>
                  <div class="error-text"[ngClass]="{
                    'error-text-open' : withdrawalForm.controls.address.hasError('required') && withdrawalForm.controls.address.touched }">Сan't be empty!</div>
                </span>
                <span class="balance-inp error" [ngClass]="{
                  'error-open' : withdrawalForm.controls.amount.hasError('required') && withdrawalForm.controls.amount.touched }">
                  <input type="number" class="amount-inp" formControlName="amount" (keyup)="checkAmount()" required>
                  <div class="error-text"[ngClass]="{
                    'error-text-open' : withdrawalForm.controls.amount.hasError('required') && withdrawalForm.controls.amount.touched }">Сan't be empty!</div>
                    <div class="error-text"[ngClass]="{
                      'error-text-open' : amountError && (!withdrawalForm.controls.amount.hasError('required')) && !fewAmountError }">Minimum withdrawal 0.0001 {{ wallet.coin.shortName }}</div>
                      <div class="error-text"[ngClass]="{
                        'error-text-open' : fewAmountError && (!withdrawalForm.controls.amount.hasError('required')) && !amountError }">insufficient funds</div>
                  <b>{{ wallet.coin.shortName }}</b>
                  </span>
              </div>
          </div>
          <div class="res-information">
            <span class="res-info">Transaction Fee: {{ fee.toFixed(8) }} </span>
            <span class="res-info">You will get: {{ finalAmount.toFixed(8) }}</span>
          </div>
          
          <div class="btnTexts">
              <button type="submit" class="main-btn submit-btn main-btn-hov"[attr.disabled]="loader ? true : null">SUBMIT
                  <div class="loader" [ngClass]="{'loader-open':loader}">
                      <div class="lds-ellipsis">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                      </div>
                    </div>
              </button>
              <div class="some-answer" [ngClass]="{
                  'some-answer-open': updateRes
              }"><img src="../../../../assets/images/ready.svg" alt="" *ngIf="successfullyChanged">{{ updateResText }}</div>
          </div>
      </form>
  </div>
</div>
