h2 {
  position: relative;
}

label {
  cursor: pointer;
}
.profile-left{
  margin-right: 0;
  max-width: none;
}
.back-btn {
  position: absolute;
  background: url(../../../../assets/images/back-arrow-dark.svg)no-repeat center;
  width: 17px;
  height: 8px;
  left: -30px;
  top: 9px;

}

.deposit-information {
  display: flex;
  flex-direction: column;
  margin-top: 25px;

  span {
    font-size: 14px;
    color: #686D7A;
    display: block;
  }

  span:nth-child(1) {
    margin-bottom: 15px;

  }

  a {
    cursor: default;
  }

  a:nth-child(1) {
    text-decoration: none;
  }

}

.history-narrow {
  max-width: 1056px;
}

.balance-table {
    width: 632px;
  }
  
  .balance-table-title span:nth-child(1) {
    width: 70%;
  }
  
  .balance-table-title span:nth-child(2) {
    width: 30%;
  }
  
  .balance-table-item span:nth-child(1) {
    width: 70%;
  }
  
  .balance-table-item span:nth-child(2) {
    width: 30%;
  }
.balance-table-form {
  .balance-table-title {
    border-bottom: none;
  }

  max-width: 731px;
  width: 100%;

  .balance-table-title span:nth-child(1) {
    width: 67%;
  }

  .balance-table-title span:nth-child(2) {
    width: 33%;
    padding-left: 22px;
    box-sizing: border-box;
  }

  .balance-table-item span:nth-child(1) {
    width: 67%;

    input {
      border: none;
      border-radius: 4px;
      max-width: 490px;
      width: 100%;
      height: 36px;
    }
  }

  .balance-table-item span:nth-child(2) {
    width: 33%;
    padding-left: 22px;
    box-sizing: border-box;

    input {
      border: none;
      border-radius: 4px;
      max-width: 219px;
      width: 100%;
      height: 36px;
    }

    b {
      position: absolute;
      bottom: 0px;
      right: 0px;
      display: block;
      width: 52px;
      height: 36px;
      text-align: center;
      font-size: 12px;
      font-weight: 300;
      line-height: 41px;
      // z-index: -1;
      border-radius: 0px 4px 4px 0px;
    }
  }

  .balance-inp {
    input {
      border-radius: 4px;
      font-size: 14px;
      font-weight: 400;
      border: 1px solid transparent;
      box-sizing: border-box;
      padding: 0 48px 0 14px;
    }

    input:focus {
    }

    input:focus~b {
      bottom: 1px;
      right: 1px;
      height: 34.5px;
      width: 51px;
      line-height: 39px;
    }
  }
}
.res-information{
    display: flex;
    flex-direction: column;
    margin-top: 23px;
    margin-bottom: 14px;
    span{
      line-height: 30px;
      font-size: 14px;
    }
}
.submit-btn{
    width: 142px;
    height: 48px;
    margin: 0;
}
.main-btn-hov{
    overflow: hidden;
    padding-top: 15px !important;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 900;
    transition: none;
    overflow: hidden;
}
.main-btn-hov::after {
    content: 'SUBMIT';
    height: 48px;
    display: block;
    transition: .3s;
    top: -33px;
    padding-top: 14.5px;
    box-sizing: border-box;
    border-radius: 4px;
}


@media screen and (max-width: 1060px) {
  .balance-title{
    .back-btn{
      left: -3px;
    }
    b{
      margin-left: 27px;
    }
  }

}
@media screen and (max-width: 680px) {
  .balance-table{
    max-width: none;
    width: 100%;
  }
}



@media screen and (max-width: 600px) {
  .balance-title{
    text-align: left;
  }
  .balance-table-item span{
    // margin: 0;
    // padding: 0;
  }
  .balance-table-item span:nth-child(1){
    border: none;
    margin: 0;
  }
  .balance-table-item span{
    width: 100%!important;
  }
  .double-btns{
    margin-bottom: 10px;
  }
  .balance-table-form .balance-table-item .balance-inp:nth-child(2){
    padding-left: 0;
  }
  .balance-table-form .balance-table-item span:nth-child(1) input,
  .balance-table-form .balance-table-item span:nth-child(2) input{
    max-width: none;
  }
  .balance-table-form .balance-table-item span:nth-child(2) b{
    bottom: 9px;
  }
  .balance-table-form .balance-inp input:focus ~ b{
    bottom: 11px;
    height: 32.5px;
  }
}
.btnTexts{
  position: relative;
  .some-answer{
      position: absolute;
      width: fit-content;
      top: 40px;
      left: 200px;
      color: #D1C174;
      transition: 1.5s;
      opacity: 0;
      img{
          margin-right: 11px;
      }
  }
  .some-answer-open{
      opacity: 1;
  }
  // .some-answer:before{
  //     content: "";
  //     background: url(../../../../assets/images/ready.svg)no-repeat center;
  //     width: 15px;
  //     height: 15px;
  // }

}


.error {
  .error-text {
    right: 60px;
    top: -100px;
    max-width: 233px;
    min-height: 47px;
  }

  .error-text-open {
    opacity: 1;
    top: -50px;
  }

  .error-text:after {
    border: 9px solid transparent;
    border-top: 10px solid #0E111A;
    left: calc(50% - 10px);
    top: 46px;
    bottom: -1px;
  }
}
.error::before{
  left: 15px;
    top: 9px;
}
.error:nth-child(2)::before{
    left: 35px;
    top: 9px;
}

@media screen and (max-width: 600px) {
  .error:nth-child(2)::before{
    left: 15px;
    top: 9px;
}
}
.lds-ellipsis{
  margin-top: -8px;
}

